{% extends "Index.html" %}
{% block media %}
    {{ form.media }}
    <style>
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/Grid.css";
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/{{ DOJANGO.THEME }}Grid.css";
    </style>
{% endblock %}
{% block title %}{{ form.instance }}{% endblock %}
{% block pane %}
    <div dojoType="dijit.layout.BorderContainer" region='center'>
{% endblock %}
{% block content %}
    <div dojoType="dijit.layout.ContentPane" region='center'>
        <form action='./post/' method='POST' dojoType='whs.form.Form.Bill' id='form'>
            <div class='field'>
                <img src='/static/img/16x16/text_list_numbers.png' width="16" height="16" alt="{{ form.number.label }}">
                <label for='{{ form.number.id_for_label }}'>{{ form.number.label }}{% if form.number.help_text %}<sup
                        id='{{ form.number.id_for_label }}_sup'>?</sup>
                    <span data-dojo-type="dijit.Tooltip" style='display:none;'
                          data-dojo-props="connectId:'{{ form.number.id_for_label }}_sup'">{{ form.number.help_text }}</span>
                {% endif %}
                </label>
                {{ form.number }}
            </div>
            <div class='field'>
                <img src='/static/img/16x16/account_balances.png' width="16" height="16" alt="{{ form.agent.label }}">

                <label for='{{ form.agent.id_for_label }}'>{{ form.agent.label }}{% if form.agent.help_text %}<sup
                        id='{{ form.agent.id_for_label }}_sup'>?</sup>
                    <span data-dojo-type="dijit.Tooltip" style='display:none;'
                          data-dojo-props="connectId:'{{ form.agent.id_for_label }}_sup'">{{ form.agent.help_text }}</span>
                {% endif %}
                </label>
                {{ form.agent }}{{ form.proxy }}
            </div>
            <div class='field'>
                <img src='/static/img/16x16/calendar.png' width="16" height="16" alt="{{ form.date.label }}">
                <label for='{{ form.date.id_for_label }}'>{{ form.date.label }}{% if form.date.help_text %}<sup
                        id='{{ form.date.id_for_label }}_sup'>?</sup>
                    <span data-dojo-type="dijit.Tooltip" style='display:none;'
                          data-dojo-props="connectId:'{{ form.date.id_for_label }}_sup'">{{ form.date.help_text }}</span>
                {% endif %}
                </label>
                {{ form.date }}
            </div>
            <div class='field'>
                <img src='/static/img/16x16/note.png' width="16" height="16" alt="{{ form.info.label }}">
                <label for='{{ form.info.id_for_label }}'>{{ form.info.label }}{% if form.info.help_text %}<sup
                        id='{{ form.info.id_for_label }}_sup'>?</sup>
                    <span data-dojo-type="dijit.Tooltip" style='display:none;'
                          data-dojo-props="connectId:'{{ form.info.id_for_label }}_sup'">{{ form.info.help_text }}</span>
                {% endif %}
                </label>
                {{ form.info }}
            </div>
            <div class='field'>
                <label for='{{ form.sold.id_for_label }}'>Операции<sup id='{{ form.sold.id_for_label }}_sup'>?</sup>
                    <span data-dojo-type="dijit.Tooltip" style='display:none;'
                          data-dojo-props="connectId:'{{ form.sold.id_for_label }}_sup'">Добавьте или измените операции.
                        Для изменения шекните по операции правой кнопкой мыши</span>
                </label>
                {{ form.sold }}
            </div>
{#            <div class='field'>#}
{#                <label for='{{ form.transfer.id_for_label }}'>{{ form.sold.label }}{% if form.transfer.help_text %}<sup#}
{#                        id='{{ form.transfer.id_for_label }}_sup'>?</sup>#}
{#                    <span data-dojo-type="dijit.Tooltip" style='display:none;'#}
{#                          data-dojo-props="connectId:'{{ form.transfer.id_for_label }}_sup'">{{ form.transfer.help_text }}</span>#}
{#                {% endif %}#}
{#                </label>#}
{#                {{ form.transfer }}#}
{#            </div>#}
            <button dojoType='dijit.form.Button' type=submit>Сохранить</button>
            {% include "error.html" %}
        </form>
    </div>
    
{% endblock %}