<div class="input-append">
{% if f.value == 'None' or not f.value %}
        <span class="input uneditable-input {% if span %}span{{ span }}{% endif %}" id='{{ f.id_for_label }}_span'>Нет</span>
{% else %}
    {% for b in Bricks %}
        {# Выбиратор кирпича. Bug,Плохо стравнивает числа и строки  #}
        {% if b.pk == f.value|add:0 %}
            <span id='{{ f.id_for_label }}_span'
                  class="input {% if span %}span{{ span }}{% endif %} uneditable-input {{ b.css }}"> {{ b.label }} </span>
        {% endif %}
    {% endfor %}
{% endif %}
<span class="add-on"><a data-toggle="brick-select" data-backdrop='true' data-input='{{ f.id_for_label }}' data-animation='false' data-backdrop='false'
                        href="#brick-select"> <i class="icon-search"></i></a></span>
</div>

<input type='hidden' class='brick' name='{{ f.html_name }}' id='{{ f.id_for_label }}'
       value="{{ f.value|default_if_none:'' }}">