<div class="subnav" id='brick-select'>
    <span class="btn-group" data-toggle="buttons-radio">
                <a class="btn btn-success ">Весь</a>
        </span>
            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#bc-red" class="btn btn bc-red">Красный</a><a
                    href="#bc-yellow" class="btn btn bc-yellow">Желтый</a>
            </span>

            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#mark-100" class="btn btn ">100</a><a href="#mark-125" class="btn btn ">125</a><a
                    href="#mark-150" class="btn btn ">150</a><a href="#mark-175" class="btn btn ">175</a><a
                    href="#mark-200" class="btn btn ">200</a><a href="#mark-250" class="btn btn ">250</a>
            </span>

            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#thickened" class="btn btn-warning ">Утолщенный</a><a href="#single" class="btn btn-info ">Одинарный</a><a
                    href="#euro" class="btn btn-success ">Евро</a>
            </span>
            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#facial" class="btn btn-info ">Лицевой</a><a href="#common"
                                                                      class="btn btn-warning ">Рядовой</a>
            </span>
</div>