{% extends 'index.html' %}

{% block container %}
    {% block brick-select %}
        <div id="brick-select" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>Выбор кирпича</h3>
            </div>
            <div class="modal-body">
                {% include 'brick-select.html' %}
            </div>
            <div class="modal-footer">
                <a href="#" class="brick-select btn btn-primary" data-dismiss="modal">Сохранить</a>
                <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    {% endblock %}
    <form method="POST" action="./" class='form-horizontal'>
        {% for factory in opers %}
            {{ factory.management_form }}
        {% endfor %}

        <div class="tabbable ">
            <ul class="nav nav-tabs">
                <li class="active">
                    {% with form=doc %}
                        <a href="#{{ form.prefix }}" data-toggle="tab">{{ form.instance|truncatewords:10 }}</a>
                    {% endwith %}
                </li>
                {% for factory in opers %}
                    {% for form in factory %}
                        {% if not forloop.last %}
                            <li class="{{ form.Meta.name }}">

                                <a class='{{ form.instance.brick.css }}' href="#{{ form.prefix }}"
                                   data-toggle="tab">
                                    {% if form.errors %}<span class="label label-important">Ошибка</span>{% endif %}
                                    {{ form.instance }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class='icon-plus'></i>Добавить<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for factory in opers %}
                                {% with p=factory|last %}
                                    <li class="{{ p.Meta.name }}">
                                    <a href="#{{ p.prefix }}" data-toggle="tab">
                                        {% if p.errors %}<span class="label label-important">Ошибка</span>{% endif %}
                                        {{ p.instance }}</a>
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                {% with form=doc %}
                    <div class="tab-pane active" id="{{ form.prefix }}">
                        {% include 'form.html' %}
                    </div>
                {% endwith %}

                {% for factory in opers %}
                    {% for form in factory %}
                        <div class="tab-pane" id="{{ form.prefix }}">
                            {% include 'form.html' %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Сохранить изменения
            </button>
            <button type="reset" class="btn"><i class="icon-refresh"></i> Отменить</button>
        </div>
    </form>


{% endblock %}