{% extends 'index.html' %}
{% load class_name %}

{% block title %}{{ doc.instance }}{% endblock %}

{% block brick-select %}
    <div id="brick-select" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Выбор кирпича</h3>
            {% include 'brick-select-buttons.html' %}
        </div>
        <div class="modal-body">
            {% include 'brick-select.html' %}
        </div>
        <div class="modal-footer">
            <a href="#" class="brick-select btn btn-primary" data-dismiss="modal">Сохранить</a>
            <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class='hidden'>
        {% for factory in opers %}
            {% with form=factory.empty_form %}
                <div class="tab-pane" id="{{ form.prefix }}">
                    {% include 'fieldset.html' %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>



    {#  Див для всплывающего окна Modal, работает из контекст процессора  #}
    <form method="POST" action="./" class='form-horizontal'>
        {% csrf_token %}
        {% for factory in opers %}
            {{ factory.management_form }}
        {% endfor %}


        <div class='row'>
            <div style='border-right: 1px solid #EEE;' class="span3">
                <ul class="nav nav-list">
                    {#  Документ  #}
                    <li class="nav-header">
                        <i class="icon-{{ doc.instance|to_class_name }}"></i> Документ
                    </li>
                    <li class="active">
                        {% with form=doc %}
                            <a href="#{{ form.prefix }}" data-toggle="tab">
                                {% if form.errors %}
                                    <i class="icon-warning-sign"></i>
                                {% else %}
                                    <i class="icon-"></i>
                                {% endif %}
                                {{ form.instance|truncatewords:10 }}
                            </a>
                        {% endwith %}
                    </li>
                    {#  Операции  #}
                    {% for factory in opers %}
                        <li class="nav-header {{ factory.form.Meta.model|to_class_name }}">
                            <i class='icon-{{ factory.form.Meta.model|to_class_name }}'></i> {{ factory.form.Meta.verbose_name_plural }} <i title='{{ factory.model }}' data-prefix="{{ factory.prefix }}" class="icon-plus form-add "></i>
                        </li>
                        {% for form in factory %}
                            <li class="{{ form.Meta.name }}">
                                <a class='' href="#{{ form.prefix }}" data-toggle="tab">
                                    {% if form.errors %}
                                        <i class="icon-warning-sign"></i>
                                    {% else %}
                                        <i class="icon-"></i>
                                    {% endif %}
                                        {{ form.instance }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>

            </div>

            <div class="span8">
                {#  Навигация  #}
                <div class="tabbable ">


                    <div class="tab-content">
                        {#  Форма документа  #}
                        {% with form=doc %}
                            <div class="tab-pane active" id="{{ form.prefix }}">
                                {% include 'fieldset.html' %}
                            </div>
                        {% endwith %}
                        {#  Формы операций  #}
                        {% for factory in opers %}
                            {% for form in factory %}
                                <div class="tab-pane" id="{{ form.prefix }}">
                                    {% include 'fieldset.html' %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Сохранить изменения
            </button>
            <button type="reset" class="btn"><i class="icon-ban-circle"></i> Отменить</button>
        </div>
    </form>

    <div>

    </div>

{% endblock %}