{% load class_name %}
<fieldset>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
</fieldset>
<fieldset class='{{ form.Meta.name }} {% if form.transfered.value %}transfered{% endif %}' >
    <legend>{{ form.instance|model_verbose_name }} {{ form.instance }}</legend>
    {% for e in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ e }}</strong>
        </div>

    {% endfor %}
    {% for f in form.visible_fields %}
        <div class="control-group {% if f.errors %}error{% endif %} {{ f.name }}">
            <label class="control-label" for="{{ f.id_for_label }}"><i class='icon-{{ f.name }}'></i>
                {{ f.label }}{% if f.field.required %}<b title='Обязательное поле'>*</b>{% endif %}
            </label>

            <div class='controls'>
                {% if 'brick' in f.name %}
                    {% include 'brick-select-form.html' %}
                {% else %}
                    {% if f.name == 'price' or f.name == 'delivery' %}
                        <div class="input-append">
                            {{ f }}
                            <span class="add-on">Руб</span>
                        </div>
                    {% else %}
                        {% if f.name == 'transfer' %}
                            {% include 'sold-transfer.html' %}
                        {% else %}
                            {% if f.name == 'agent' %}
                                {% include 'agent-select.html' %}
                            {% else %}
                            {{ f }}
                        {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% for q in f.errors %}<span class="help-inline">{{ q }}</span> {% endfor %}
                {% if not f.value %}
                    <p class="help-block">{{ f.help_text }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</fieldset>