{% extends 'index.html' %}
{% block title %}История{% endblock %}

{% block container %}
    <div class='row'>
        <div class="span9">
            {% include 'whs/brick-select-buttons.html' %}
            <table id='Bricks' class=" table table-bordered table-condensed">
                <thead>
                <tr>
                    <th width=15px>#</th>
                    <th>Имя</th>
                    <th>Начало</th>
                    <th>Приход</th>
                    <th>Перевод из</th>
                    <th>Перевод в</th>
                    <th>Продажи</th>
                    <th>Остатки</th>
                </tr>
                </thead>
                <tbody>
                {% for b in History %}
                    <tr class="{{ b.css }}">
                        <td> {{ b.id }} </td>
                        <td class="name"><a href="{{ b.get_absolute_url }}">{{ b.label }}</a></td>
                        <td> {{ b.begin }} </td>
                        <td> {{ b.add }} </td>
                        <td> {{ b.t_from }} </td>
                        <td> {{ b.t_to }} </td>
                        <td> {{ b.sold }} </td>
                        <td> {{ b.total }} </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>{{ Bricks|length }}</th>
                    <th></th>
                    <th>{{ totals.begin }}</th>
                    <th>{{ totals.add }}</th>
                    <th>{{ totals.t_from }}</th>
                    <th>{{ totals.t_to }}</th>
                    <th>{{ totals.sold }}</th>
                    <th>{{ totals.total }}</th>

                </tr>
                </tfoot>
            </table>
        </div>
        <div class="span3">
            <form class="form-vertical" action="" method="GET">
                <fieldset>
                    <legend> <i class="icon-calendar" style="vertical-align: baseline;"></i> Выберите дату</legend>
                    <div class="control-group success">
                        <div class="controls">
                            {% for d in date %}
                                {{ d }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group success">
                        <div class="controls">
                            <div class="btn-group" data-toggle="buttons-checkbox">
                                <a class="btn btn-info ">Накл</a>
                                <a class="btn btn-warning ">Пр-во</a>
                                <a class="btn btn-success ">Цех</a>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
{% endblock %}