<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <title>BKZ-WHS : {% block title %}Остатки{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/ui-darkness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="/static/css/style.less" rel="stylesheet/less" type="text/css">
    <script type="text/javascript" src="/static/js/libs/less-1.2.1.min.js"></script>


    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <style type="text/css" media="print">
        .navbar {
            display: none
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/cargo/cargo3.png">
</head>

<body>
{% load class_name %}

{% include 'navbar.html' %}
{% include 'messages.html' %}

{% block brick-select %}
{% endblock %}

<div class="container">
    {% block container %}
        {% include 'brick-select-buttons.html' %}
        <table id='Bricks' class="table table-bordered table-condensed">
            <colgroup>
                <col span=2>
                <col span="6" style='width:70px; color:green; '>
            </colgroup>
            <thead>
            <tr>
                <th width=15px>#</th>
                <th>Имя</th>
                <th>Начало</th>
                <th>Приход</th>
                <th>Пер-д из</th>
                <th>Пер-д в</th>
                <th>Продажи</th>
                <th>Остатки</th>
            </tr>
            </thead>
            <tbody>
            {% for b in Bricks %}
                <tr class="{{ b.css }}">
                    <td> {{ b.id }} </td>
                    <td class="name"><a rel='tooltip' data-original-title="{{ b.name }}"
                                        href="{{ b.get_absolute_url }}">{{ b.label }}</a></td>
                    <td> {{ b.begin }} </td>
                    <td> {{ b.add }} </td>
                    <td> {{ b.t_from }} </td>
                    <td> {{ b.t_to }} </td>
                    <td> {{ b.sold }} </td>
                    <td> {{ b.total }} </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ Bricks|length }}</th>
                <th></th>
                <th>{{ totals.begin }}</th>
                <th>{{ totals.add }}</th>
                <th>{{ totals.t_from }}</th>
                <th>{{ totals.t_to }}</th>
                <th>{{ totals.sold }}</th>
                <th>{{ totals.total }}</th>

            </tr>
            </tfoot>
        </table>
    {% endblock %}
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            <p style='text-align: center' class="">Склад готовой продукции <b>ООО &laquo;Березниковский кирпичный
                завод&raquo;</b></p>
        </div>
        <div class="span6">
            <p style="text-align: center" class="">Разработчик: <a
                    href="https://plus.google.com/u/0/101946326841894739802">Катаев Денис</a></p>
        </div>
    </div>
</div>

<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="/static/js/libs/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.js"></script>
<script type="text/javascript" src="/static/js/libs/accounting.min.js"></script>

<script type="text/javascript" src="/static/js/brick.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>

{#<script src="/static/js/bootstrap/bootstrap-transition.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap/bootstrap-button.js"></script>
<script src="/static/js/bootstrap/bootstrap-collapse.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-carousel.js"></script>#}
{#<script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>#}
{% block script %}
{% endblock %}
</body>
</html>