<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap.responsive.css" rel="stylesheet">

    <link href="/static/css/style.less" rel="stylesheet/less" type="text/css">
    <script type="text/javascript" src="/static/js/libs/less-1.2.1.min.js"></script>

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <style type="text/css" media="print">
        .navbar {
            display: none
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/cargo/cargo.png">
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="i-bar"></span>
                <span class="i-bar"></span>
                <span class="i-bar"></span>
            </a>
            <a class="brand" href="#"><abbr title="WareHouse">WHS</abbr></a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Главная</a></li>
                    <li><a href="/form">Форма</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% block container %}
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th width=15px>#</th>
                <th>Имя</th>
                <th>Вид</th>
                <th>Размер</th>
                <th>Цвет</th>
                <th>Особенности</th>
                <th>Остатки</th>
            </tr>
            </thead>
            <tbody>
            {% for b in Bricks %}
                <tr class="{{ b.css }}">
                    <td> {{ b.id }} </td>
                    <td> {{ b.label }} </td>
                    <td> {{ b.get_view_display }} </td>
                    <td> {{ b.weight }} </td>
                    <td> {{ b.get_color_display }} </td>
                    <td> {{ b.refuse }} {{ b.defect }} {{ b.features|truncatewords:1 }}</td>
                    <td> {{ b.total }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="/static/js/libs/jquery.js"></script>
<script type="text/javascript" src="/static/js/brick.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<script src="/static/js/bootstrap/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap/bootstrap-button.js"></script>
<script src="/static/js/bootstrap/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>

</body>
</html>