<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Склад кирпича : Березниковский кирпичный завод</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="/static/css/style.less" rel="stylesheet/less" type="text/css">
    <script type="text/javascript" src="/static/js/libs/less-1.2.1.min.js"></script>

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <style type="text/css" media="print">
        .navbar {
            display: none
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/cargo/cargo3.png">
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="i-bar"></span>
                <span class="i-bar"></span>
                <span class="i-bar"></span>
            </a>
            <a class="brand" href="#">
                <i style='margin-top: 6px' class="icon-qrcode icon-white"></i>
                <abbr title="WareHouse">BKZ-WHS</abbr></a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="/">
                        <i class="icon-home icon-white"></i>
                        Главная</a></li>
                    <li><a href="/bills">
                        <i class="icon-list-alt icon-white"></i>
                        Накладные</a></li>
                    <li><a href="/jurnal">
                        <i class="icon-calendar icon-white"></i>
                        Журнал</a></li>
                </ul>
                {% block navbar-form %}
                {% endblock %}
            </div>
            <ul class="nav pull-right">
                <li><a href="#"><i class='icon-signal icon-white'></i> Статистика</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-plus-sign icon-white'></i> Создать <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bill">Накладную</a></li>
                        <li><a href="/add">Приход</a></li>
                        <li class="divider"></li>
                        <li><a href="/brick">Кирпич</a></li>
                    </ul>
                </li>
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

{% block brick-select %}
{% endblock %}

<div class="container">
    {% block container %}
        <div class="subnav" id='brick-select'>
            <span class="btn-group" data-toggle="buttons-radio">
                <a class="btn btn-success ">Весь</a><a href="#bc-red" class="btn btn bc-red">Красный</a><a href="#bc-yellow" class="btn btn bc-yellow">Желтый</a>
            </span>

            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#mark-100" class="btn btn ">100</a><a href="#mark-125" class="btn btn ">125</a><a href="#mark-150" class="btn btn ">150</a><a href="#mark-175" class="btn btn ">175</a><a href="#mark-200" class="btn btn ">200</a><a href="#mark-250" class="btn btn ">250</a>
            </span>

            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#thickened" class="btn btn-warning ">Утолщенный</a><a href="#single" class="btn btn-info ">Одинарный</a><a href="#euro" class="btn btn-success ">Евро</a>
            </span>
            <span class="btn-group" data-toggle="buttons-radio">
                <a href="#facial" class="btn btn-info ">Лицевой</a><a href="#common" class="btn btn-warning ">Рядовой</a>
            </span>
        </div>
        <table id='Bricks' class=" table table-bordered table-condensed">
            <thead>
            <tr>
                <th width=15px>#</th>
                <th>Имя</th>
                <th>Начало</th>
                <th>Приход</th>
                <th>Перевод из</th>
                <th>Перевод в</th>
                <th>Продажи</th>
                <th>Остатки</th>
            </tr>
            </thead>
            <tbody>
            {% for b in Bricks %}
                <tr class="{{ b.css }}">
                    <td> {{ b.id }} </td>
                    <td> {{ b.label }} </td>
                    <td> {{ b.begin }} </td>
                    <td> {{ b.add }} </td>
                    <td> {{ b.t_from }} </td>
                    <td> {{ b.t_to }} </td>
                    <td> {{ b.sold }} </td>
                    <td> {{ b.total }} </td>
                </tr>
            {% endfor %}
            </tbody>
        <tfoot>
        <tr>
            <th>{{ Bricks|length }}</th>

            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
        </tr>
        </tfoot>
        </table>
    {% endblock %}
</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="/static/js/libs/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.js"></script>

<script type="text/javascript" src="/static/js/brick.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>

{#<script src="/static/js/bootstrap/bootstrap-transition.js"></script>#}
{#<script src="/static/js/bootstrap/bootstrap-alert.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-tab.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>#}
{#<script src="/static/js/bootstrap/bootstrap-popover.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-button.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-collapse.js"></script>#}
{#<script src="/static/js/bootstrap/bootstrap-carousel.js"></script>#}
{#<script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>#}

</body>
</html>