<div dojoType="whs.main.MenuBarItem"><a href="{% url main %}" id='logo'>
    <img src="/static/img/logo.png" height="16px" title='Главная'>
    Березниковский кирпичный завод</a></div>
<div dojoType="whs.main.MenuBarItem"><a href="{% url bricks %}">Остатки</a></div>
<div dojoType="whs.main.MenuBarItem"><a href="{% url bills %}">Накладные</a></div>
<div dojoType="whs.main.MenuBarItem"><a href="{% url agents %}">Агенты</a></div>
<div dojoType="dijit.PopupMenuBarItem">
    <span><span style='color:red;'>Добавить</span></span>
    <div dojoType="dijit.Menu" id="editMenu">
        <div dojoType="whs.main.MenuItem"><a href='/bill/'>Накладную</a></div>
        <div dojoType="whs.main.MenuItem"><a href='/brick/'>Кирпич</a></div>
        <div dojoType="whs.main.MenuItem"><a href='/agent/'>КонтрАгента</a></div>
    </div>
</div>
<div dojoType="whs.main.MenuBarItem"><a href="/admin/">Администратор</a></div>