<div class="navbar navbar-fixed-top" style='position: fixed;'>
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <i class="icon-logo"></i>
                <abbr style="border: none" title="Склад 'Березниковского кирпичного завода'">BKZ:WHS</abbr>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/Накладные"> <i class="icon-book icon-white"></i> Накладные</a></li>
{#                    <li class="divider-vertical"></li>#}

                </ul>
                {% block navbar-form %}
                {% endblock %}
                <ul class="nav pull-right">
                    {% include 'auth.html' %}

                    <li class="divider-vertical"></li>
                    <li><a href="/Статистика"><i class='icon-signal icon-white'></i> Статистика</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-plus icon-white'></i>
                            Создать <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Накладная/"><i class='icon-Bill'></i> Накладную</a></li>
                            <li><a href="/Производство/"><i class='icon-Man'></i> Производство</a></li>
                            <li><a href="/Сортировка/"><i class='icon-Sorting'></i> Сортировку кирпича</a></li>
                            <li><a href="/Инвентаризация/"><i class='icon-Inventory'></i> Инвентаризацию</a></li>
                            <li class="divider"></li>
                            <li><a href="/Кирпич/"><i class='icon-brick'></i> Кирпич</a></li>
                            <li><a href="/Контрагент/"><i class='icon-agent'></i> КонтрАгента</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--/.nav-collapse -->
        </div>
    </div>
</div>