{% load pytils_numeral %}
<div class="navbar navbar-fixed-top" style='position: fixed;'>
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <i style='margin-top: 4px' class="icon-qrcode icon-white"></i>

                <i title="BKZ WareHouse">BKZ-WHS</i></a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/bills"> <i class="icon-list-alt icon-white"></i> Накладные</a></li>
                    <li><a href="/journal"> <i class="icon-calendar icon-white"></i> Журнал</a></li>
                    <li><a href="/agents"><i class="icon-user icon-white"></i> КонтрАгенты</a></li>
                </ul>
                {% block navbar-form %}
                {% endblock %}
                <ul class="nav pull-right">
                    {% if messages %}
                    <li><a href="#Messages" data-toggle="modal"><i class="icon-envelope icon-white"></i> У вас {{ messages|length }} {{ messages|length|choose_plural:'сообещние,сообщения,сообщений' }}</a></li>
                    {% endif %}
                    <li><a href="/stats"><i class='icon-signal icon-white'></i> Статистика</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-plus icon-white'></i>
                            Создать <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/bill/"><i class='icon-Bill'></i> Накладную</a></li>
                            <li><a href="/man/"><i class='icon-Man'></i> Производство</a></li>
                            <li><a href="/sort/"><i class='icon-Sorting'></i> Сортировку кирпича</a></li>
                            <li><a href="/inventory/"><i class='icon-Inventory'></i> Инвентаризацию</a></li>
                            <li class="divider"></li>
                            <li><a href="/brick/"><i class='icon-brick'></i> Кирпич</a></li>
                            <li><a href="/agent/"><i class='icon-agent'></i> КонтрАгента</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--/.nav-collapse -->
        </div>
    </div>
</div>