{% extends 'index.html' %}
{% block title %}Прайс-лист{% endblock %}
{% block head %}
    <style type="text/css">
    .cell1 { width: 40px }
    .cell2 { width: 80px }
    tbody td {border:0px black solid !important; text-align: center; vertical-align: middle !important;}
    .bb {border-bottom-width: 2px !important;}
    .bl {border-left-width: 2px !important;}
    .br {border-right-width: 2px !important;}
    .bt {border-top-width: 2px !important;}
    </style>
{% endblock %}
{% block container %}
    <h1>Прайс-лист цен на продукцию</h1>
    <div class="row">
    <div class="span6">
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="cell1">Вид</th>
            <th class="cell2">Марка</th>
            <th colspan="2">Одинарный</th>
            <th colspan="3">Утолщённый</th>
            <th colspan="2">Евро</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <th rowspan="5" class="bt bl">Рядовой</th>
    <th class="bt">100</th>
    <td class="bc-red cell1 bt bl">6.50</td>
    <td class="bc-yellow cell1 bt" rowspan="5" >10.50</td> <td class="bc-red cell1 bt bl">8.60</td>
    <td rowspan="5" class="bc-yellow cell1 bt">11.80</td>
    <td rowspan="5" class="bc-brown cell1 bt">11.80</td>
    <td rowspan="5" class="bc-red cell1 bt bl">6.80</td><td rowspan="5" class="bc-yellow cell1 br bt">12.00</td>
    </tr>
    <tr><th>125</th><td class="bc-red bl">6.80</td> <td class="bc-red bl">9.00</td></tr>
    <tr><th>150</th><td class="bc-red bl">7.20</td> <td class="bc-red bl">9.40</td></tr>
    <tr><th>175</th><td class="bc-red bl">7.60</td> <td class="bc-red bl">9.80</td></tr>
    <tr><th>200</th><td class="bc-red bl">8.00</td> <td class="bc-red bl">10.20</td></tr>
    <tr>
        <th class="bt bl bb">Лицевой</th>
        <th class="bt bb">100-200</th>
        <td class="bc-red bl bb bt">10.00</td>
        <td class="bc-yellow bb bt">15.50</td>
        <td class="bc-red bl bb bt">12.60</td>
        <td class="bc-yellow bb bt">19.80</td>
        <td class="bc-brown bb bt">19.30</td>
        <td class="bc-red bb bl bt">9.00</td>
        <td class="bc-yellow bb br bt">15.80</td>
    </tr>

</tbody>
<tfoot>
<tr>
    <th colspan="2">Масса</th>
    <td colspan="2">2.7 кг</td>
    <td colspan="3">3.6 кг</td>
    <td colspan="2">2.6 кг</td>
</tr>
<tr>
    <th colspan="2">Морозостойкость</th>
    <td colspan="7">до F 35</td>
</tr>
<tr>
    <th colspan="2">Водопоглощение</th>
    <td colspan="7">8-12%</td>
</tr>
<tr>
    <th colspan="2">Пустотность</th>
    <td colspan="7">30%</td>
</tr>
<tr>
    <th colspan="2"><abbr title="Удельная эффективная активность ественных радионуклидов">УЭАЕР</abbr>, Бк/кг</th>
    <td class="bc-red">131&plusmn;7</td>
    <td class="bc-yellow"><b>148</b>&plusmn;7</td>
    <td class="bc-red">131&plusmn;7</td>
    <td class="bc-yellow"><b>148</b>&plusmn;7</td>
    <td class="bc-brown">131&plusmn;7</td>
    <td class="bc-red">131&plusmn;7</td>
    <td class="bc-yellow"><b>148</b>&plusmn;7</td>
</tr>
<tr>
    <th colspan="2">Теплопроводность, вт/м с</th>
    <td class="bc-red">0.34</td>
    <td class="bc-yellow"><b>0.39</b></td>
    <td class="bc-red">0.34</td>
    <td class="bc-yellow"><b>0.39</b></td>
    <td class="bc-brown">0.34</td>
    <td class="bc-red">0.34</td>
    <td class="bc-yellow"><b>0.39</b></td>
</tr>
<tr>
    <th rowspan="2">Кол-во кирпича на поддоне</th>
    <th>Рядовой</th>
    <td colspan="2">352</td>
    <td colspan="3">288</td>
    <td colspan="2">256</td>
</tr>
<tr>
    <th>Лицевой</th>
    <td colspan="2">264</td>
    <td colspan="3">192</td>
    <td colspan="2">352</td>
</tr>
</tfoot>
</table>
    </div>
    <div class="span6">
    <h2>Условия поставки</h2>
        <ul>
            <li>Отгрузка кирпича производится на поддонах</li>
            <li>Залоговая стоимость поддона 200руб/1 поддон</li>
            <li>Срок возврата тары 60 дней</li>
        </ul>
    <h3>Характеристики поддона кирпича</h3>
        <ul>
            <li>Стротельный: 1000 х 1000 х 1054; вес поддона: 1000 кг.</li>
            <li>Лицевой: 1000 х 700 х 1054; вес поддона: 730 кг.</li>
        </ul>
    </div>
    </div>
{% endblock %}