{% extends 'index.html' %}

{% block script %}
    <script type="text/javascript" src="/static/js/libs/d3.v2.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/stats.js"></script>

{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/colorbrewer.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/stats.css"/>
{% endblock %}
{% block title %}Статистика{% endblock %}
{% block container %}
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <div id='transfer' style="text-align: center;background: gray"></div>
                <div class="caption">
                    <h5>Переводы</h5>
                    <select class="span1" name="{{ Filter.date__year.name }}">
                        <option value="">--------</option>
                        {% for d in Filter.Meta.dates %}
                            {% ifchanged d.year %}
                                <option
                                        {% if d.year == Filter.date__year.value|add:0 %}selected="selected" {% endif %}
                                        value="{{ d.year }}">{{ d.year }}</option>
                            {% endifchanged %}
                        {% endfor %}
                    </select>
                    <select class="span2" name="{{ Filter.date__month.name }}">
                        <optgroup label="Выберите месяц">
                            <option value="">--------</option>
                            {% for d in Filter.Meta.dates %}
                                {% ifchanged d.year %}
                                    </optgroup>
                                    <optgroup label="{{ d|date:'Y'  }}">
                                {% endifchanged %}
                                <option
                                        {% if d.month == Filter.date__month.value|add:0 %}selected="selected" {% endif %}
                                        value="{{ d.month }}">{{ d|date:'F' }}</option>
                            {% endfor %}
                            </optgroup>
                    </select>
                    <button id='transfer_show' type="submit" data-loading-text='Загрузка' style='vertical-align: top'
                            class="btn btn-primal">Показать
                    </button>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <div id='total' style="text-align: center;background: gray"></div>
                <div class="caption">
                    <h5>Кирпичи</h5>
                    <select class="span1" name="{{ Filter.date__year.name }}">
                        <option value="">--------</option>
                        {% for d in Filter.Meta.dates %}
                            {% ifchanged d.year %}
                                <option
                                        {% if d.year == Filter.date__year.value|add:0 %}selected="selected" {% endif %}
                                        value="{{ d.year }}">{{ d.year }}</option>
                            {% endifchanged %}
                        {% endfor %}
                    </select>
                    <select class="span2" name="{{ Filter.date__month.name }}">
                        <optgroup label="Выберите месяц">
                            <option value="">--------</option>
                            {% for d in Filter.Meta.dates %}
                                {% ifchanged d.year %}
                                    </optgroup>
                                    <optgroup label="{{ d|date:'Y'  }}">
                                {% endifchanged %}
                                <option
                                        {% if d.month == Filter.date__month.value|add:0 %}selected="selected" {% endif %}
                                        value="{{ d.month }}">{{ d|date:'F' }}</option>
                            {% endfor %}
                            </optgroup>
                    </select>
                    <button id='total_show' type="submit" data-loading-text='Загрузка' style='vertical-align: top'
                            class="btn btn-primal">Показать
                    </button>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}
