<div class="control-group">
    <label class="control-label">
        <i class="icon-sold"></i> Отгрузка
    </label>

    <div class='controls'>
        {% with s=form.instance.bill_sold_related.get %}
            {% if s %}
                <span style="overflow: hidden;" class='uneditable-input {{ s.brick.css }}'>{{ s }}</span>
            {% else %}
                <span style="overflow: hidden;" class='uneditable-input'>Нет</span>
            {% endif %}
        {% endwith %}
    </div>
</div>