<tr class='Bill' data-opers='Bill_{{ b.pk }}'>
    <td>{{ b.number }}</td>
    <td>
        {% ifchanged b.date %}<b>{% endifchanged %}
        {{ b.date|date:'j M Y' }}
        {% ifchanged b.date %}</b>{% endifchanged %}
    </td>
    <td colspan="3">
        <a href="{{ b.get_absolute_url }}">{{ b }}</a>
        {% if b.seller.pk != 1206 %}<i title='Продажа через {{ b.seller }}' class="icon-asterisk"></i>{% endif %}
        <i class="icon-zoom-in"></i>
    <span class='label {% if not b.agent.form %}label-success{% endif %}'>
        <a title='Посмотреть агента' href="{{ b.agent.get_absolute_url }}">{{ b.agent|truncatewords:3 }}</a>
        <a title='Показать накладные этого агента' href="?agent={{ b.agent.pk }}"><i
                class="icon-eye-open icon-white"></i></a>
    </span>
    </td>
</tr>
<tbody class="opers" style='display: none' id='Bill_{{ b.pk }}'>
{% for s in b.solds.all %}
    {% include 'whs/Sold_tr.html' %}
{% endfor %}
</tbody>