{% extends 'core/index.html' %}
{% block title %}Журнал{% endblock %}
{% load class_name %}
{% block container %}
    <ul class="pager">
        <li class="previous"><a href="?date={{ form.prev_month.isoformat }}">← {{ form.prev_month|date:'F Y' }}</a></li>
        <li><a>{{ form.value|date:'F Y' }}</a></li>
        <li class="next"><a href="?date={{ form.next_month.isoformat }}">{{ form.next_month|date:'F Y' }} →</a></li>
    </ul>
    <div class="row">
        <div class="span5">
            <table class="table table-bordered table-condensed" id='Jurnal'>
                <caption><h2>Производство</h2></caption>
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Кирпич</th>
                    <th width="50px">Кол-во</th>
                </tr>
                </thead>
                <tbody>
                {% for m in man %}
                    <tr class="{{ m.brick.css }}">
                        <td {% ifchanged m.doc.date %}style='font-weight: bold;'{% endifchanged %}>
                            <a href="{{ m.doc.get_absolute_url }}">{{ m.doc.date }}</a>
                        </td>
                        <td>{{ m.brick|safe }}</td>
                        <td>{{ m.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th style="text-align: right">Итого:</th>
                    <th>{{ man|sum_pluck:'amount' }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="span7">
            {% for s in sorting %}
                <table class="table table-bordered table-condensed">
                    {% if forloop.counter == 1 %}
                        <caption><h2>Сортировка</h2></caption>
                    {% endif %}
                    <thead>
                    <tr>
                        <th width="80px">Дата</th>
                        <th>Кирпич</th>
                        <th width="50px">Кол-во</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><a href="{{ s.get_absolute_url }}">
                            {{ s.date|date:'j M Y' }}
                        </a>
                        </th>
                        <td class="{{ s.brick.css }}">{{ s.brick|safe }}</td>
                        <td>{{ s.amount }}</td>
                    </tr>
                    {% if s.opers.Sorted %}
                        <tr>
                            <th colspan="3">Отсортированно <i class="icon-Sorted"></i></th>
                        </tr>
                        {% for q in s.opers.Sorted %}
                            <tr>
                                <td>{{ q.date|date:'j M Y' }}</td>
                                <td class="{{ q.brick.css }}">{{ q.brick|safe }}</td>
                                <td>{{ q.amount }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if s.opers.Removed %}
                        <tr>
                            <th colspan="3">Списанно <i class="icon-Removed"></i></th>
                        </tr>
                        {% for q in s.opers.Removed %}
                            <tr>
                                <td>{{ q.date|date:'j M Y' }}</td>
                                <td class="{{ q.brick.css }}">{{ q.brick|safe }}</td>
                                <td>{{ q.amount }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if not s.opers %}
                        <tr>
                            <th colspan="3">В цеху <i class="icon-Sorting"></i></th>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endfor %}

        </div>
    </div>

{% endblock %}