<tr class='Bill' data-opers='Bill_{{ b.pk }}'>
    <td>{{ b.number }}</td>
    <td>{{ b.date }}</td>
    <td>
        <a href="{{ b.get_absolute_url }}">{{ b }}</a>
        {% if b.seller.pk == 1 %}<i title='Продажа через {{ b.seller }}' class="icon-asterisk"></i>{% endif %}
        <i class="icon-zoom-in"></i>
    <span class='label'>
        <a title='Посмотреть агента' href="{{ b.agent.get_absolute_url }}">{{ b.agent|truncatewords:3 }}</a>
        <a title='Показать накладные этого агента' href="?agent={{ b.agent.pk }}"><i class="icon-eye-open icon-white"></i></a>
    </span>
    </td>
    <td>{{ b.total }}</td>
    <td><span class='money'>{{ b.money }}</span></td>
</tr>
<tbody class="opers" style='display: none' id='Bill_{{ b.pk }}'>
{% for s in b.bill_sold_related.all %}
    {% include 'Sold_tr.html' %}
{% endfor %}
{% for t in b.bill_transfer_related.all %}
    {% include 'Transfer_tr.html' %}
{% endfor %}
</tbody>