{% extends 'index.html' %}

{% block title %}Журнал{% endblock %}
{% block container %}
    <ul class="pager">
        <li class="previous"><a href="?date={{ form.prev_month.isoformat }}">← {{ form.prev_month|date:'F Y' }}</a></li>
        <li><a>{{ form.value|date:'F Y' }}</a></li>
        <li class="next"><a href="?date={{ form.next_month.isoformat }}">{{ form.next_month|date:'F Y' }} →</a></li>
    </ul>
    <div class="row">
        <div class="span5">
            <table class="table table-bordered table-condensed">
            <caption><h2>Производство</h2></caption>
                <thead>
                <tr>
                    <th>Кирпич</th>
                    <th>Кол-во</th>
                </tr>
                </thead>
                <tbody>
                {% for m in man %}
                    <tr>
                        <td colspan="2">
                            <h4>{{ m.date }}</h4>
                        </td>
                    </tr>
                    {% for o in m.manufacture_add_related.all %}
                    <tr class="{{ o.brick.css }}">
                    <td>{{ o.brick }}</td>
                    <td>{{ o.amount }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span7">
            <table class="table table-bordered table-condensed">
                <caption><h2>Сортировка</h2></caption>
                <thead>
                <tr>
                    <th>Кирпич</th>
                    <th>Кол-во</th>
                </tr>
                </thead>
                <tbody>
                {% for s in sorting %}
                    <tr>
                    <td>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}