{% extends "dojango/base.html" %}
{% block dojango_page_title %}Склад кирпича - Главная страница{% endblock %}
{% block dojango_header_extra %}
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css"/>
    {% block media %}

    {% endblock %}
{% endblock %}
{% block dojango_content %}
    {% block content %}
        <table>
        {% for bill in bills %}
            <tr>
                <td>
                    {{ bill }}
                </td>
                <td>
                    {% for s in bill.solds.all %}
                        <span>{{ s }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% for s in bill.transfers.all %}
                        <span>{{ s }}</span>
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </table>
    {% endblock %}
{% endblock %}


