{% extends "main.html" %}
{% block media %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <form action='./post/' method='POST' dojoType='whs.Form.Bill'>
        {% if form.instance.pk %}
            Просмотр и редактирование накладной
        {% else %}
            Введите данные для создания новой накладной
        {% endif %}
        <div class='field'>
            <img src='/static/img/16x16/text_list_numbers.png' width="16" height="16" alt="{{ form.number.label }}">
            <label for='{{ form.number.id_for_label }}'>{{ form.number.label }}{% if form.number.help_text %}<sup
                    id='{{ form.number.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.number.id_for_label }}_sup'">{{ form.number.help_text }}</span>
            {% endif %}
            </label>
            {{ form.number }}
        </div>
        <div class='field'>
            <img src='/static/img/16x16/account_balances.png' width="16" height="16" alt="{{ form.agent.label }}">

            <label for='{{ form.agent.id_for_label }}'>{{ form.agent.label }}{% if form.agent.help_text %}<sup
                    id='{{ form.agent.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.agent.id_for_label }}_sup'">{{ form.agent.help_text }}</span>
            {% endif %}
            </label>
            {{ form.agent }}
        </div>
        <div class='field'>
            <img src='/static/img/16x16/calendar.png' width="16" height="16" alt="{{ form.date.label }}">
            <label for='{{ form.date.id_for_label }}'>{{ form.date.label }}{% if form.date.help_text %}<sup
                    id='{{ form.date.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.date.id_for_label }}_sup'">{{ form.date.help_text }}</span>
            {% endif %}
            </label>
            {{ form.date }}
        </div>
        <div class='field'>
            <img src='/static/img/16x16/note.png' width="16" height="16" alt="{{ form.info.label }}">
            <label for='{{ form.info.id_for_label }}'>{{ form.info.label }}{% if form.info.help_text %}<sup
                    id='{{ form.info.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.info.id_for_label }}_sup'">{{ form.info.help_text }}</span>
            {% endif %}
            </label>
            {{ form.info }}
        </div>
        {% if 'sold' in form.fields %}
            <div class='field'>
                <img src='/static/img/16x16/application_side_boxes.png' width="16" height="16" alt="Операции">
                <label><span>Операции</span></label>
                <table style='width: 400px; background-color: #ffffff; border:solid black 1px;'>
                    <caption style="padding: 1px;">
                        <a href="/sold/?bill={{ form.number.value }}">Добавить продажу</a>
                        <a href="/transfer/?bill={{ form.number.value }}">Добавить перевод</a>

                    </caption>
                    <thead></thead>
                    {{ form.sold }}
                    {{ form.transfer }}
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        {% else %}
            <div class='field'>
                <img src='/static/img/16x16/application_side_boxes.png' width="16" height="16" alt="Операции">
                <label><span>Операции</span></label>
                Сохраните накланую перед тем как добавлять операции.
            </div>
        {% endif %}
        <button dojoType='dijit.form.Button' type=submit>Сохранить</button>
    </form>
{% endblock %}