{% extends 'main.html' %}
{% block dojango_page_title %} Склад кирпича - Накладные{% endblock %}
{% block media %}
    <style>
        article {
            clear: left;
            border: 1px black solid;
        }

        div.date {
            /*position: relative;*/
            left: 2px;
            top: 2px;
            width: 50px;
            float: left;
            border: 2px red solid;
            text-align: center;
        }

        .table {
            border: 1px black solid;
        }
    </style>
{% endblock %}
{% block content %}
    <table style='display: none;'>
        {% for b in bills %}
            {% ifchanged b.date %}</table>
                <table class='bills_table bills'>
                <caption>{{ b.str_date }}</caption>{% endifchanged %}
            <tr pk='{{ b.pk }}'>
                <td>{{ b.number }}</td>
                <td>{{ b.agent.cool_name|truncatewords:2 }}</td>
                <td>{{ b.money }}</td>
            </tr>
            {% for s in b.sold.all %}
                <tr pk='{{ s.pk }}'>
                    <td></td>
                    <td>{{ s.brick }}</td>
                    <td>{{ s.amount }}</td>
                    <td>{{ s.price }}</td>
                    <td>{{ s.delivery }}</td>
                </tr>
            {% endfor %}
            {#        {% ifchanged b.date %}{% endifchanged %}#}
        {% endfor %}
        </table>
{% endblock %}