{% extends "main.html" %}
{% block media %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <form action='./post/' method='POST' dojoType='whs.Form.Oper'>
        <div class='field'>
            <img src='/static/img/16x16/brick.png' width="16" height="16" alt="{{ form.brick.label }}">
            <label for='{{ form.brick.id_for_label }}'>{{ form.brick.label }}{% if form.brick.help_text %}<sup
                    id='{{ form.brick.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.brick.id_for_label }}_sup'">{{ form.brick.help_text }}</span>
            {% endif %}
            </label>
            {{ form.brick }}
        </div>
        <div class='field'>
            <img src='/static/img/16x16/soil_layers.png' width="16" height="16" alt="{{ form.brick.label }}">
            <label for='{{ form.amount.id_for_label }}'>{{ form.amount.label }}{% if form.amount.help_text %}<sup
                    id='{{ form.amount.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.amount.id_for_label }}_sup'">{{ form.amount.help_text }}</span>
            {% endif %}
            </label>
            {{ form.amount }}
            {{ form.tara }}
            {{ form.poddon }}
        </div>
        <div class='field'>
            <img src='/static/img/16x16/note.png' width="16" height="16" alt="{{ form.info.label }}">
            <label for='{{ form.info.id_for_label }}'>{{ form.info.label }}{% if form.info.help_text %}<sup
                    id='{{ form.info.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.info.id_for_label }}_sup'">{{ form.info.help_text }}</span>
            {% endif %}
            </label>
            {{ form.info }}
        </div>
        <div class='field'>
            <img src='/static/img/16x16/money.png' width="16" height="16" alt="{{ form.price.label }}">
            <label for='{{ form.price.id_for_label }}'>{{ form.price.label }}{% if form.price.help_text %}<sup
                    id='{{ form.price.id_for_label }}_sup'>?</sup>
                <span data-dojo-type="dijit.Tooltip" style='display:none;'
                      data-dojo-props="connectId:'{{ form.price.id_for_label }}_sup'">{{ form.price.help_text }}</span>
            {% endif %}
            </label>
            {{ form.price }}
        {{ form.delivery }}
        </div>
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
    <button dojoType='dijit.form.Button' type=submit>Сохранить</button>
    </form>
{% endblock %}