<ul class="unstyled subnav" id='brick-select-buttons'>
    <li class="btn-group" data-toggle="buttons-radio">
        <a class="btn btn-success ">Весь</a>
    </li>
    <li class="btn-group" data-toggle="buttons-radio">
        <a href="#bc-red" class="btn bc-red">Красный
        </a><a href="#bc-yellow" class="btn bc-yellow">Желтый</a>
    </li>
    <li class="btn-group" data-toggle="buttons-radio">
        <a href="#mark-100" class="btn">100
        </a><a href="#mark-125" class="btn">125
    </a><a href="#mark-150" class="btn">150
    </a><a href="#mark-175" class="btn">175
    </a><a href="#mark-200" class="btn">200
    </a><a href="#mark-250" class="btn">250</a>
    </li>
    <li class="btn-group" data-toggle="buttons-radio">
        <a href="#thickened" class="btn btn-warning "><b>Утолщенный</b>
        </a><a href="#single" class="btn btn-info ">Одинарный
    </a><a href="#euro" class="btn btn-success ">Евро</a>
    </li>
    <li class="btn-group" data-toggle="buttons-radio">
        <a href="#facial" class="btn btn-info ">Лицевой
        </a><a href="#common" class="btn btn-warning ">Рядовой</a>
    </li>
    <li class="btn-group">
        <a class="btn" href="#">Другое</a>
        <a class="btn dropdown-toggle" style="margin-left: -5px" data-toggle="dropdown" href="#"><span
                class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align: left;">
            <li><a class="btn-group" rel='features' data-toggle="buttons-radio" href="#nofeatures"><i class="icon-"></i> Только люкс</a></li>
            <li><a class="btn-group" rel='features' data-toggle="buttons-radio" href="#features"><i class="icon-"></i> Прочие</a></li>
            <li class="divider"></li>
            <li><a class="btn-group" rel='pct' data-toggle="buttons-radio" href="#g20"><i class="icon-"></i> Больше 20% </a></li>
            <li><a class="btn-group" rel='pct' data-toggle="buttons-radio" href="#l20"><i class="icon-"></i> Меньше 20% </a></li>
            <li class="divider"></li>
            <li><a class="btn-group" data-toggle="buttons-radio" href="#zero"><i class="icon-"></i> С операциями</a></li>

        </ul>
    </li>
</ul>