{% load class_name %}
{% spaceless %}
<div class="input-append brick-select">
    {% if f.value == 'None' or not f.value %}
        <span class="uneditable-input"><span>Выберете кирпич</span>
            {% if not f.field.required %}
                <a class="close" title="Очистить значение" style='float:right;'>&times;</a>
            {% endif %}
        </span>
    {% else %}
        {% for b in Bricks %}
            {# Выбор кирпича. Bug,Плохо стравнивает числа и строки  #}
            {% if b.pk == f.value|add:0 %}
                <span title='Остаток: {{ b.total }}'
                      class="uneditable-input {{ b.css }}">
                    <span>{{ b.label }}</span>
                    {% if not f.field.required %}
                        <a class="close" title="Очистить значение" style='float:right;'>&times;</a>
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}
    {% endif %}
    <input type='text' style='display: none' name='{{ f.html_name }}' id='{{ f.id_for_label }}' value="{{ f.value|default_if_none:'' }}">
    <a class="btn btn-info add-on" data-toggle="modal" data-backdrop='false'
       title='Шелкните для выбора кирпича' href="#brick-select"> <i class="icon-search icon-white"></i></a>
</div>


{% endspaceless %}