{% extends 'core/index.html' %}
{% load class_name %}
{% block title %}
    {{ form.instance|striptags }}
{% endblock %}
{% block container %}
    <div class="container-fluid">
        <form class="form-horizontal" method="POST" action="{{ form.instance.get_absolute_url }}">
        <div class="span5">
            <fieldset class="less">
                <legend>
                    <h1>
                    {{ form.instance }}
                    </h1>
                </legend>
                {{ form.as_div }}
            </fieldset>
        </div>
        <div class="span7"></div>
    </form>
    </div>
{% endblock %}