{% extends 'core/index.html' %}
{% load class_name %}
{% block title %}
    {{ object|striptags }}
{% endblock %}
{% block head %}
    <style>
    th.size { width:128px !important; }
    th.counter { vertical-align: middle; width: 10px !important; }
    </style>
{% endblock %}
{% block container %}
    {% for factory in opers %}
        {% for e in factory.non_object_errors %}
            <div class="alert alert-error">
                <i class="icon-warning-sign"></i>
                <strong>{{ e|safe }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    <form method="POST" action="" class='form-horizontal'>
        {% csrf_token %}
        {% for factory in opers %}
            {{ factory.management_object }}
            {{ factory.management_form }}
        {% endfor %}

        <fieldset class="Batch">
            <legend>
                <h1>{{ form.instance }}</h1>
            </legend>
            <div class="row">
                <div class="span3 limit">
                    <h3>Идентификация партии</h3>
                    {% include 'core/field.html' with f=form.number %}
                    {% include 'core/field.html' with f=form.date %}
                </div>
                <div class="span3 limit">
                    <h3>Вид продукции</h3>
                    {% include 'core/field.html' with f=form.width %}
                    {% include 'core/field.html' with f=form.color %}
                </div>
                <div class="span3">
                    <h3>Характеристики</h3>
                    {% include 'core/field.html' with f=form.seonr %}
                    {% include 'core/field.html' with f=form.heatconduction %}
                    {% include 'core/field.html' with f=form.frost_resistance %}
                </div>
            </div>
        </fieldset>
        {% for factory in opers %}
            <fieldset class="{{ factory.empty_form.instance|class_name }}">
                <legend>
                    <h3>{{ factory.empty_form.instance|model_verbose_name_plural }}</h3>
                </legend>
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="counter">#</th>
                        {% for f in factory.empty_form.visible_fields %}
                            <th class="{{ f.field.widget.attrs.class|default:'span1' }} {{ f.name }}"> {{ f.label }} </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="display: none">
                        {% include factory.model|form_name with form=factory.empty_form %}
                    </tr>
                    {% for form in factory %}
                        <tr title='{{ form.instance.pk|default:"" }}' id="{{ form.prefix }}">
                            <th class="counter">{{ forloop.counter }}</th>
                            {% include 'lab/tr_form.html' %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="{{ factory.form.visible_fields|length|add:'1' }}" style='text-align: center'><i
                                class="icon-plus-sign"></i> Добавить {{ factory.model|model_verbose_name|lower }}
                        </td>
                    </tr>
{#                    <tr>#}
{#                        <td colspan="{{ factory.form.visible_fields|length|add:'-1' }}" rowspan="4">#}
{#                            <h2>#}
{#                            Марка по сжатию: <span>125</span>#}
{#                            </h2>#}
{#                        </td>#}
{#                        <th>Среднее:</th>#}
{#                        <td></td>#}
{#                    </tr>#}
{#                    <tr><th>Минимум:</th><td></td></tr>#}
{#                    <tr><th>Максимум:</th><td></td></tr>#}
{#                    <tr><th>Среднее:</th><td></td></tr>#}
                    </tfoot>
                </table>
            </fieldset>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">
                <i class="icon-ok icon-white"></i> Сохранить
            </button>
            {% if form.instance|class_name == 'Bill' and form.instance.pk %}
                <a href="печать" target="_blank" class="btn btn-info">
                    <i class='icon-print icon-white'></i> Печать
                </a>
            {% endif %}
            <button type="reset" class="btn">
                <i class="icon-ban-circle"></i> Сбросить
            </button>
            {% if form.instance.pk %}
                <a href="удалить" style='float:right' class="btn btn-danger">
                <i class='icon-remove icon-white'></i> Удалить
            {% endif %}
            </a>
        </div>
    </form>
{% endblock %}