{% extends 'core/index.html' %}
{% load class_name %}
{% block title %}
    {{ object|striptags }}
{% endblock %}
{% block head %}
    <style>
        th.size {
            width: 128px !important;
        }

        th.counter {
            vertical-align: middle;
            width: 10px !important;
        }
    </style>
{% endblock %}
{% block container %}
    {% for factory in opers %}
        {% for e in factory.non_object_errors %}
            <div class="alert alert-error">
                <i class="icon-warning-sign"></i>
                <strong>{{ e|safe }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <table style='display: none'>
        {% for factory in opers %}
            <tr id="{{ factory.empty_form.prefix }}">
                {% include factory.model|form_name with form=factory.empty_form %}
            </tr>
        {% endfor %}
    </table>
    <h1>{{ form.instance }}</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Batch" data-toggle='tab'>Характеристики</a></li>
        <li><a href="#Tests" data-toggle='tab'>Испытания</a></li>
    </ul>
    <form method="POST" action="" class='form-horizontal'>
        <fieldset style='display: none'>
            {% csrf_token %}
            {% for factory in opers %}
                {{ factory.management_object }}
                {{ factory.management_form }}
            {% endfor %}
        </fieldset>
        <div class="tab-content">
            <div class="tab-pane active" id='Batch'>
                <fieldset class="Batch">
                    <legend>
                        <h1>{{ form.instance|safe }}</h1>
                    </legend>
                    <div class="row">
                        <div class="span6">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% include 'core/field.html' with f=form.date %}
                            {% include 'core/field.html' with f=form.number %}
                            {% include 'core/field.html' with f=form.width %}
                            {% include 'core/field.html' with f=form.color %}
                        </div>
                        <div class="span4 offset1">
                            {% include 'core/field.html' with f=form.heatconduction %}
                            {% include 'core/field.html' with f=form.seonr %}
                            {% include 'core/field.html' with f=form.frost_resistance %}
                            {% include 'core/field.html' with f=form.water_absorption %}
                            {% include 'core/field.html' with f=form.efflorescence %}
                        </div>
                    </div>
                    <div class="row row-fluid limit">
                        <div class="span2">
                            {% include 'core/field.html' with f=form.tto %}
                        </div>
                        <div class="span2">
                            {% include 'core/field.html' with f=form.amount %}
                        </div>
                        <div class="span2">
                            {% include 'core/field.html' with f=form.pressure %}
                        </div>
                        <div class="span2">
                            {% include 'core/field.html' with f=form.flexion %}
                        </div>
                        <div class="span2">
                            {% include 'core/field.html' with f=form.chamfer %}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="Part">
                    <legend><h2>Выход готовой продукции</h2></legend>
                    {% include 'lab/table_form.html' with factory=opers|last %}
                </fieldset>
            </div>
            <div class="tab-pane" id='Tests'>
                {% for factory in opers|slice:':-1' %}
                    {% if factory.non_form_errors %}
                        <fieldset>
                            <legend>
                                <h3>Ошибки</h3>
                            </legend>
                            {% for e in factory.non_form_errors %}
                                <div class="alert alert-error">
                                    <i class="icon-warning-sign"></i>
                                    <strong>{{ e|safe }}</strong>
                                </div>
                                </fieldset>
                            {% endfor %}
                    {% endif %}
                    <fieldset class="{{ factory.empty_form.instance|class_name }}">
                        <legend>
                            <h2>{{ factory.empty_form.instance|model_verbose_name_plural }}</h2>
                        </legend>
                        {% include 'lab/table_form.html' %}
                    </fieldset>
                {% endfor %}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">
                <i class="icon-ok icon-white"></i> Сохранить
            </button>
            {% if form.instance|class_name == 'Bill' and form.instance.pk %}
                <a href="печать" target="_blank" class="btn btn-info">
                    <i class='icon-print icon-white'></i> Печать
                </a>
            {% endif %}
            <button type="reset" class="btn">
                <i class="icon-ban-circle"></i> Сбросить
            </button>
            {% if form.instance.pk %}
                <a href="удалить" style='float:right' class="btn btn-danger">
                <i class='icon-remove icon-white'></i> Удалить
            {% endif %}
            </a>
        </div>
    </form>
{% endblock %}