{% extends 'core/index.html' %}
{% block head %}
{% endblock %}
{% block title %}Лаборатория{% endblock %}
{% block container %}
    <div class="container">
    <h1>Лаборатория</h1>
    <div>
        <h2>Готовая продукция</h2>
        <table class="table table-bordered" id='batch-list'>
            <thead>
            <tr>
                <th style='width:100px'>Дата</th>
                <th>Партия</th>
                {# <th>Кирпич</th> #}
                <th><abbr title="Установленная марка">М</abbr></th>
                <th>Кол-во</th>
            </tr>
            </thead>
            <tbody>
            {% for b in batch_list %}
                <tr title="{{ b.title }}" class='{{ b.css }}'>
                    <td>{{ b.date }}</td>
                    <td><a href="{{ b.get_absolute_url }}">{{ b }} , {{ b.get_full_name }}</a> <a class="label pull-right" href='{{ b.get_tests_url }}'>Испытания</a> </td>
                    
                    
                    <td>{{ b.get_mark_display }}</td>
                    
                    <td><ul class='unstyled' style='margin: 0 0 0 25px'>
                        {% for p in b.parts.all %}
                        <li title='{{ p.get_cause_display }}'>
                            {% if p.defect == 'gost' %}
                            <span class='label label-success'>{{ p }}</span>
                            {% elif p.defect == '<20' %}
                            <span class='label'>{{ p }}</span>
                            {% elif p.defect == '>20' %}
                            <span class='label label-warning'>{{ p }}</span>
                            {% elif p.defect == 'no_cont' %}
                            <span class='label label-important'>{{ p }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
{% endblock %}