{% extends 'core/index.html' %}
{% block head %}
{% endblock %}
{% block title %}Лаборатория{% endblock %}
{% block container %}
    <div class="container">
    <div class="span12">
        <h1>Лаборатория</h1>
    </div>
    <div>
        <h2>Готовая продукция</h2>
        <table class="table table-bordered" id='batch-list'>
            <thead>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Кирпич</th>
                <th><abbr title="Установленная марка">М</abbr></th>
                <th>Кол-во</th>
            </tr>
            </thead>
            <tbody>
            {% for b in batch_list %}
                <tr title="{{ b.title }}" class='{{ b.css }}'>
                    <td><a href="{{ b.get_absolute_url }}">{{ b }}</a></td>
                    <td>{{ b.date }}</td>
                    <td>{{ b.get_width_display }}</td>
                    <td>{{ b.get_mark_display }}</td>
                    <td>{{ b.amount }} 
                        <span class='badge' title='{{ b.get_tto }}'>{{ b.get_tto|length }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
{% endblock %}