{% extends 'core/index.html' %}
{% load bkz %}
{% block head %}
{% endblock %}
{% block title %}Лаборатория{% endblock %}
{% block container %}
{% load pagination_tags %}
{% autopaginate object_list 32 %}
<div class="container">
    <div class="row">
        <div class="span4">
            <h1>Партии <small>
                {% if datefilter.is_valid and datefilter.cleaned_data.date__month %}
                        за {{ datefilter.get_date|date:'F Y'|lower }} года
                    {% else %}
                        за {{ datefilter.get_date|date:'Y' }} год
                {% endif %}
                </small>
            </h1>
        </div>
        <form accept-chartset='utf-8' method="GET" action="" class="form-inline span8 dateform" style='margin-top: 10px;text-align:right'>
            {{ modelselect.model}}
            {% include 'whs/widgets/year-month-select.html' with form=datefilter year=datefilter.date__year month=datefilter.date__month %}
            <input type="submit" class="btn">
        </form>
    </div>
        <table class="table table-bordered table-condensed" id='batch-list'>
            <thead>
                <tr>
                    <th style='width:100px' rowspan="2">Дата</th>
                    <th rowspan="2">№</th>
                    <th rowspan="2">Кирпич</th>
                    <th rowspan="2"><abbr title="Установленная марка">М</abbr></th>
                    <th colspan="3">Кол-во</th>
                </tr>
                <tr>
                    <th>Гост</th>
                    <th><20%</th>
                    <th>>20%</th>
                </tr>
            </thead>
            <tbody>
            {% for b in object_list %}
                <tr title="{{ b.title }}" class='{{ b.css }}'>
                    <th>{{ b.date }}</th>
                    <th>{{ b.number }}</th>
                    <td><a href="{{ b.get_absolute_url }}">{{ b.get_full_name }}</a>
                        {% if b.journal %}<a class="label label-info pull-right" href='{% url lab:journal %}?date={{ b.date.isoformat }}'>Журнал</a>{% endif %}
                        {% if b.tests.count %} <a class="label pull-right" href='{{ b.get_tests_url }}'>Испытания</a> {% endif %}
                    </td>
                    <td>{{ b.get_mark_display }}</td>
                    
                    {% for p in b.parts_by_defect %}
                        <td>{{ p|func_pluck:'sum out'|default_if_none:0 }}</td>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th>{{ object_list|func_pluck:'sum gost' }}</th>
                    <th>{{ object_list|func_pluck:'sum l20' }}</th>
                    <th>{{ object_list|func_pluck:'sum m20' }}</th>
                 </tr>
            </tfoot>
        </table>
        {% paginate using 'pagination/pagination.html' %}
    </div>
</div>
{% endblock %}