{% extends 'core/index.html' %}
{% load bkz %}
{% block head %}
{% endblock %}
{% block title %}Журнал за {{ date|date:'j E Y' }}{% endblock %}
{% block container %}
<div class="container" id='journal'>
    <div class="row">
            <div class="span7">
                <h1 class='datehead'>
                    <a href='?date={{ dateform.previous.isoformat }}'><i class='icon-arrow-left'></i></a>
                    Журнал <small>за {{ date|date:'j E Y, l' }}</small>
                    <a href='?date={{ dateform.next.isoformat }}'><i class='icon-arrow-right'></i></a>
                </h1>
            </div>
            <form accept-chartset='utf-8' method="GET" action="" class="form-inline span5 dateform" style='margin-top: 10px;text-align:right'>
                {{ dateform.date }}
                <input type="submit" class="btn">
            </form>
    </div>
    
    <form accept-chartset='utf-8' method="POST" id='form' class='row'>
        {% csrf_token %}
    {% for f in factory %}
    <fieldset class='{{ f.css_class }} {{ f.model|class_name }}'>
    {{ f.management_object }}    
    {{ f.management_form }}  
    <table>
    	<caption><h2>{{ f.caption }}</h2></caption>
    		<thead>
                <tr>
                    {% for field in f.empty_form.visible_fields %}
                        <th>{{ field.label|safe }}</th>
                    {% endfor %}
    			</tr>
    		</thead>
    	<tbody>
    		{% for form in f %}
            {% if form.instance.pk or add %}
    			<tr id='{{ form.prefix }}' class='{{ form.instance.css }}'>
    				{% for f in form.visible_fields %}
                        {% if forloop.first %}
                        <td class="input-prepend">
                            <span class='add-on'>
                                <a href='{{ form.instance.get_absolute_url }}'>{{ forloop.parentloop.counter }}</a>
                            </span>
                            {% for f in form.hidden_fields %}
                                {{ f }}
                            {% endfor %}
                            {{ f }}
                        </td>
                        {% elif f.name == 'used' %}
                        <td class="input-append">
                            <span class='add-on'>{{ f }}</span>
                        </td>
                        {% elif f.name == 'cause' %}
                        <td class="input-append dropdown cause">
                            <ul class="dropdown-menu" role='menu'>
                            {{ f|removetags:'ul' }}
                            </ul>
                            <a href="#{{ f.html_name }}" class="dropdown-toggle add-on" role='button' data-toggle="dropdown">
                                <span class='label'>0</span> <b class="caret"></b>
                            </a>
                            
                        </td>
                        {% else %}
                        <td {% include 'bootstrap/errors.html' with errors=f.errors %}>{{ f }}</td>
                        {% endif %}
                    {% endfor %}
    			</tr>
                {% endif %}
    		{% endfor %}
    	</tbody>
    </table>
    </fieldset>
    {% endfor %}
</div>
{% if add %}
<div class="form-actions">
        <div class="container">
            <button type="submit" class="btn btn-primary" form="form">
                <i class="icon-ok icon-white"></i> Сохранить изменения
            </button>
        </div>
    </div>
{% endif %}
{% endblock %}