{% extends 'core/index.html' %}
{% load bkz %}
{% block head %}
{% endblock %}
{% block title %}Журнал за {{ date|date:'j E Y' }}{% endblock %}
{% block container %}
<div class="container" id='journal'>
    <div class="row">
            <div class="span7">
                <h1 class='datehead'>
                    <a href='?date={{ dateform.previous.isoformat }}'><i class='icon-arrow-left'></i></a>
                    Журнал <small>за {{ date|date:'j E Y, l' }}</small>
                    <a href='?date={{ dateform.next.isoformat }}'><i class='icon-arrow-right'></i></a>
                </h1>
            </div>
            <form accept-chartset='utf-8' method="GET" action="" class="form-inline span5 dateform" style='margin-top: 10px;text-align:right'>
                {{ dateform.date }}
                <input type="submit" value='Показать' class="btn">
            </form>
    </div>
    
    <form accept-chartset='utf-8' method="POST" id='form' class='row'>
        {% csrf_token %}
    {% for f in factory %}
    {% if f.prefix == 'half' %}
    <div class='row'>
        {%endif%}
    <fieldset class='{{ f.css_class }} {{ f.model|class_name }}'>
    {{ f.management_object }}    
    {{ f.management_form }}  
    <table>
    	    {% if f.prefix == 'quarry' %}
            <caption><h2>{{ f.caption }}</h2></caption>
            <thead>
                <tr>
                    <th colspan=2>Влажность</th>
                    <th colspan=2>Показатели</th>
                </tr>
            </thead>
            <tbody>
                {% with form=f.0 %}
                <tr id='{{ form.prefix }}' class='{{ form.instance.css }} {% if not form.instance.pk %}fake{% endif %}'>
                        <td class="input-prepend">
                            <span class='add-on'> <a href='{{ form.instance.get_absolute_url }}'>1</a> </span>
                            {% for f in form.hidden_fields %} {{ f }} {% endfor %} {{ form.datetime }}
                        </td>
                        <td> {{ form.humidity }}</td>
                        <th><input type='text' value='Песок:' disabled='disabled' style='width:60px;text-align:right'></th>
                        <td>{{ form.sand }}</td>
                </tr>
                {% endwith %}
                {% with form=f.1 %}
                <tr id='{{ form.prefix }}' class='{{ form.instance.css }} {% if not form.instance.pk %}fake{% endif %}'>
                        <td class="input-prepend">
                            <span class='add-on'> <a href='{{ form.instance.get_absolute_url }}'>1</a> </span>
                            {% for f in form.hidden_fields %} {{ f }} {% endfor %} {{ form.datetime }}
                        </td>
                        <td> {{ form.humidity }}</td>
                        <th><input type='text' value='Глин:' disabled='disabled' style='width:60px;text-align:right'></th>
                        <td> {{ f.0.module_size }}</td>
                </tr>
                {% endwith %}
                {% with form=f.2 %}
                <tr id='{{ form.prefix }}' class='{{ form.instance.css }} {% if not form.instance.pk %}fake{% endif %}'>
                        <td class="input-prepend">
                            <span class='add-on'> <a href='{{ form.instance.get_absolute_url }}'>1</a> </span>
                            {% for f in form.hidden_fields %} {{ f }} {% endfor %} {{ form.datetime }}
                        </td>
                        <td> {{ form.humidity }}</td>
                        <th><input type='text' value='Пласт:' disabled='disabled' style='width:60px;text-align:right'></th>
                        <td> {{ f.0.dust }}</td>
                </tr>
                {% endwith %}
                <tr>
                    <th><input type='text' value='Среднее:' disabled='disabled' style='width:81px;border-radius: 4px 0 0 4px;text-align:right'></th>
                    <td>
                        <input type='text' value='{{ f.queryset|func_pluck:'avg humidity'}}' disabled='disabled' style='width:50px'>
                    </td>
                    <th><input type='text' value='Пылев:' disabled='disabled' style='width:60px;text-align:right'></th>
                    <td>{{ f.0.particle_size }}</td>

                </tr>
            {% elif f.prefix == 'sand' %}
            <caption><h2>Песок</h2></caption>
            <thead>
                <tr>
                    <th>Назв</th>
                    <th>Хар-ка</th>
                </tr>
            </thead>
            <tbody>
                {% for f in f.visible_fields %}
                <tr>
                    <td class="input-prepend">
                            <span class='add-on' style='width:40px'>
                               {{ f.label|safe }}
                            </span>
                    </td><td>
                    {% if forloop.first %}
                        {% for f in form.hidden_fields %}
                            {{ f }}
                        {% endfor %}
                    {% endif %}
                    {{ f }}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
            
            {% else %}
            <caption><h2>{{ f.caption }}</h2></caption>
            <thead>
                <tr>
                    {% for field in f.empty_form.visible_fields %}
                        <th>{{ field.label|safe }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
    		{% for form in f %}
            {% if form.instance.pk or add %}
                
    			<tr id='{{ form.prefix }}' class='{{ form.instance.css }} {% if not form.instance.pk %}fake{% endif %}'>
    				{% for f in form.visible_fields %}
                        {% if forloop.first %}
                        <td class="input-prepend">
                            <span class='add-on'>
                                <a href='{{ form.instance.get_absolute_url }}'>{{ forloop.parentloop.counter }}</a>
                            </span>
                            {% for f in form.hidden_fields %}
                                {{ f }}
                            {% endfor %}
                            {{ f }}
                        </td>
                        {% elif f.name == 'used' %}
                        <td class="input-append">
                            <span class='add-on'>{{ f }}</span>
                        </td>
                        {% elif f.name == 'cause' %}
                        <td class="input-append dropdown counter">
                            <ul class="dropdown-menu" role='menu'>
                            {{ f|removetags:'ul' }}
                            </ul>
                            <a href="#{{ f.html_name }}" class="dropdown-toggle add-on" role='button' data-toggle="dropdown">
                                <span class='label {% if f.value|length %}label-warning{% endif %}'>
                                    {{ f.value|length }}
                                </span> <b class="caret"></b>
                            </a>
                            
                        </td>
                        {% else %}
                        <td {% include 'bootstrap/errors.html' with errors=f.errors %}>{{ f }}</td>
                        {% endif %}
                    {% endfor %}
    			</tr>
                {% endif %}
    		{% endfor %}
            {% endif %}
    	</tbody>
    </table>
    </fieldset>
    {% if f.prefix == 'bar' %}
    </div>
        {%endif%}
    {% endfor %}
</div>
{% if add %}
<div class="form-actions">
        <div class="container">
            <button type="submit" class="btn btn-primary" form="form">
                <i class="icon-ok icon-white"></i> Сохранить изменения
            </button>
        </div>
    </div>
{% endif %}
{% endblock %}