{% load bkz %}
{% for form in opers.part_set %}
    <fieldset class="span7 Part {% if not forloop.first %}offset5{% endif %}" xmlns="http://www.w3.org/1999/html">
        {% if forloop.first %}
            <legend>Выход с производства</legend>
        {% endif %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <table class='table table-bordered'>
            <thead>
            <tr>
                <th>ТТО</th>
                <th>Кол-во</th>
                <th>Качество</th>
                <th colspan="2">Приемка кирпича</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ form.tto }}</td>
                <td>{{ form.amount }}</td>
                <td>{{ form.defect }}</td>
                <td>
                    {{ form.half }}
                </td>
                <td>
                    {{ form.dnumber }}
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td colspan="2">
                    <label>Бой кирпича
                        {{ form.brocken }}
                    </label>
                </td>
                <td colspan=3>
                    <label>Расход на испытания
                        {{ form.test }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" style='text-align: left;background: #F2DEDE;' class="cause">
                    {{ form.cause }}
                </td>
                <td colspan="3" style='text-align: left;background: #FCF8E3;'>
                    <label class="checkbox">
                        <input type="checkbox" value="">
                        Изв. вкл. < 1 см
                    </label>
                    <label>
                        <input type="checkbox" value="" disabled="disabled">
                        Другое:
                        {{ form.info }}
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
{% endfor %}
