{% load bkz %}
<div class="" id='{{ factory.form|class_name }}'>
{% for form in factory %}
    <div id="{{ form.prefix }}">
        {% include 'lab/part_form.html' %}
    </div>
{% endfor %}
</div>
<div style='text-align: center'>
    <a class="form-add" data-prefix='{{ factory.form|class_name }}' data-append='#{{ factory.form|class_name }}'
       title='{{ factory.model|safe }}' href="#">
        <i class="icon-plus-sign"></i>
        Добавить
{#        {{ factory.model|model_verbose_name|lower }}#}
    </a>
</div>

