{% extends 'core/index.html' %}
{% block script %}
<script type="text/javascript" src="/static/js/libs/d3.v3.min.js"></script>
{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/colorbrewer.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/energy.css"/>
{% endblock %}
{% block title %}Энергоресурсы{% endblock %}
{% block container %}
<div class="container">
    <div class="row">
        <h1 class="span6">Энергоресурсы</h1>
        <table class='span6'>

        </table>
        <h2 class='span6'>Интенсивность потребления</h2>
        <table class='span6'>

        </table>
        <h1 class='span12'>Тепло</h1>
        <table>

        </table>
        <h2></h2>
        <table class='span6'>

        </table>
    </div>
</div>
{% endblock %}
