label:after {
    content: ':';
}

label {
    width:200px;
    display: block;
    padding-bottom: 1px;
}

label sup {
    padding-left: 1px;
    text-decoration: underline;
    cursor: help;
}
form {
    margin: 5px;
}

form>div {
    padding-top: 5px;
}

.field>img {
    float:left;
    padding-right: 2px;
}

.oper img {
    width:16px;
    height: 16px;
    border: none;

}

.oper td.view {
    width:36px;
}



.FKSelect table {width:300px;border: 1px black solid;}
.FKSelect caption {padding-bottom: 5px;}
.FKSelect caption a {margin: 5px 0 0 5px;}
.FKSelect caption:before {content:'Добавить:'}
.FKSelect tbody tr[name=sold].parent :first-child{ padding-left: 17px; background:  url('/static/img/16x16/arrow.png') no-repeat; }
/*.FKSelect tbody tr[name=sold] :first-child:{  }*/
.FKSelect tbody td.amount {width:40px;}
.FKSelect tfoot .amount {background-color: #cccccc;}
.FKSelect tbody td.tara {width:20px;}
.FKSelect tbody td.price {text-align: center;}

.FKSelect tbody tr[name=transfer]{
    margin-bottom: 4px;
}
.FKSelect thead th {background: gray;}
.FKSelect tbody tr {border: 1px black solid;}