/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media (max-width: 767px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25% !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
         Label the data
         */
    #Bricks td:nth-of-type(1):before { content: "Имя"; }
    #Bricks td:nth-of-type(2):before { content: "Начало"; }
    #Bricks td:nth-of-type(3):before { content: "Приход"; }
    #Bricks td:nth-of-type(4):before { content: "Пер-д из"; }
    #Bricks td:nth-of-type(5):before { content: "Пер-д в"; }
    #Bricks td:nth-of-type(6):before { content: "Продажи"; }
    #Bricks td:nth-of-type(7):before { content: "В цех"; }
    #Bricks td:nth-of-type(8):before { content: "Из цеха"; }
    #Bricks td:nth-of-type(9):before { content: "Списанно"; }
    #Bricks td:nth-of-type(10):before { content: "Инв"; }
    #Bricks td:nth-of-type(11):before { content: "Остатки"; }

    #Sorted td:nth-of-type(1):before { content: "Партия"; }
    #Sorted td:nth-of-type(2):before { content: "Дата"; }
    #Sorted td:nth-of-type(3):before { content: "Кирпич"; }
    #Sorted td:nth-of-type(4):before { content: "Кол-во"; }
}