rect {
    /*fill: steelblue;*/
    /*stroke: white;*/
    }


.label {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.thumbnail > div {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

svg {
    /*font: 10px sans-serif;*/
    shape-rendering: crispEdges;
}

text {dominant-baseline: central;}

.block {
    stroke: black;
    stroke-width: 2px;
}
.rct {
    fill:none;
    stroke: #ccc;
    stroke-width: 1px;
}

.brick, .mark {
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1px;
}
