rect {
    /*fill: steelblue;*/
    /*stroke: white;*/
    }


.label {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.thumbnail > div {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}