body { background-image: url('/static/img/whitediamond.png') }
#brick-select-buttons input {vertical-align: top}
div.control-group.DELETE label {color: #DA4F49}
div.controls ul {list-style: none}
.icon-logo {
    background: url('/static/img/log.png') no-repeat;
    vertical-align: 0px;
    background-position: 4px 0px;
}

.nav.nav-list .create {margin-top: 2px;}
.nav.nav-list .create a {background-color: #468847;color:white;text-shadow: 0 -1px 0 rgba(0,0,0,0.2)}
@media (min-width:767px) {
    .span4 fieldset .control-label {width: 100px}
    .span4 fieldset .controls {margin-left: 110px}
    .span4 fieldset .form-actions {padding-left: 110px}
    .span5 fieldset .control-label {width: 100px}
    .span5 fieldset .controls {margin-left: 110px}
    .span5 fieldset .form-actions {padding-left: 110px}

    .brickselect .uneditable-input {width:182px}
    .batchinput input {width:90px;}
    .moneyinput span {width:36px}
    .moneyinput input {width:174px}
    .moneyinput span {width:36px}
    .tarainput input {width:174px}
    .tarainput span input {width:26px}
}
form fieldset.Batch h3 { text-align: center}
form fieldset.Batch div.limit label.control-label {width: 100px;overflow: hidden;}
form fieldset.Batch div.limit .controls {margin-left: 110px}
.input-micro {width: 40px}
.input-mini {width: 60px}
table td.error input,table td.error .uneditable-input {color:#B94A48; border-color:#B94A48;}
.add-on input[type='checkbox'] { vertical-align:baseline}
#brickselect tr {cursor: pointer;}
#brickselect tr:hover td.name {text-decoration: underline;}

#Sorted td {padding: 4px;}
#Bricks a, #Jurnal a, #Verification a {color:#333}
#Energy thead tr th {vertical-align: top !important;}
#Energy tbody a {display: none}
#Energy tbody tr:hover a {display: inline-block;}
#Energy tbody tr td.for-button {padding-top: 5px}
li.mark a { padding: 5px; }
#Journal .name {padding-left: 10px;}
#Journal .amount {padding-left: 10px;}
form legend + .control-group {
    margin-top: 18px;
    -webkit-margin-top-collapse: separate;
}
.popover-content p { text-align: center}
.popover-content table {
    margin-top:-14px;
    margin-bottom: -10px
}
td[rel='popover'] {cursor: pointer}

div.ctype div.controls, div.defect div.controls {padding-left: 20px;}

table span.label a {color:white}

/* http://www.artlebedev.ru/tools/technogrette/html/rouble/ */
span.ruble { text-transform:uppercase; }
span.rel { position: relative; }
span.dborder { top: -1.5ex; left: 0; width:.9ex; border-bottom: 0.16ex solid #333; // top: -1.3ex; }
span.dot { position:absolute; text-indent: -1000em; }

span.input {overflow: hidden;}

.navbar form button, .navbar form select {
    margin: auto !important;
}

.nav.nav-tabs li.active span.label, nav.nav-tabs li:hover span.label {
    background-color: #F89406;
}

.subnav {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    padding: 2px;
    text-align: center;
    line-height: 200%;
}
.subnav .btn-group {
    white-space: nowrap;
}

.subnav>li {
    display: inline-block;

}
.subnav a.btn.active i, .subnav a.btn-group.active i {
    background-position: -288px 0;
}

.subnav a.btn {
    float: none;
    /*position: */
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    .subnav-fixed {
        position: fixed;
        top: 45px;
        left: 0;
        right: 0;
        z-index: 1030;
    }
}

tr.Bill {border-top-width:2px}
.Sold .transfer p.help-block {display: none}
.Sold .transfer {display: none}
.Sold.transfered .transfer {display: block;}

/* Общее */
.icon-DELETE { background-position:-456px 0 }
i.icon-zoom-in.zoom {background-position:-360px 0;}

/* Energy */
.icon-energy { background-position: -432px -144px; }
.icon-Energy { background-position: -72px -120px; }
.icon-Teplo { background-position: -72px -24px; }


/* Sold */
.icon-Sold, .icon-sold { background-position: -336px -96px }
.icon-Transfer, .icon-transfer { background-position: -336px -120px }
.icon-Brick { background-position:-240px 0 }
.icon-brick { background-position:-240px 0 }
.icon-brick_from { background-position:-240px 0 }
.icon-amount { background-position:-240px 0 }
.icon-tara { background-position: -216px 0 }
.icon-poddon { background-position:-240px 0 }
.icon-price { background-position:-360px -120px }
.icon-delivery { background-position:-289px -96px }

/*Bill*/
.icon-Bill,.icon-whs { background-position: -360px -120px }
.icon-Agent { background-position: -168px 0 }
.icon-date { background-position: -192px -120px }
.icon-agent { background-position: -168px 0 }
.icon-number { background-position: -24px -24px; }
.icon-seller { background-position: -96px -24px; }
.icon-info { background-position: 0 -72px; }

/* Man */
.icon-Man, .icon-man { background-position: -408px -96px }
.icon-jurnal { background-position: -360px -48px; }
.icon-Add { background-position: -289px -96px }

.icon-Sorting { background-position: -216px -24px}
.icon-Sorted { background-position: -240px -24px}
.icon-Removed { background-position: -120px -24px}

.icon-Inventory { background-position: -144px -96px }
.icon-Write_off { background-position: -120px -24px }
