body {
    background-image: url('/static/img/background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    /*background-size: 11%;*/
}

body.success {
    background-color: #62c462;
}

body.error {
    background-color: #f89406;
}

.navbar .brand {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.navbar .nav >li > a {
    padding: 10px 10px 10px;
}

.popover .alert {
    margin: 0;
    padding: 2px;
}

.popover .popover-content {
    margin-bottom: 0;
    padding: 2px;
    text-align: center;
}

form.filter label {
    display: none
}

.controls ul {
    margin: 0
}

table .help-inline {
    float: right
}

#parts .control-group {
    margin: 0;
    padding: 0
}

#parts .brickselect {
    margin: 0;
}

#brickselect-buttons input {
    vertical-align: top
}

#brickselect-buttons label {
    margin-bottom: 0
}

#brickselect-buttons {
    margin: 0
}

#brickselect-buttons ul {
    margin: 0
}

#brickselect-buttons ul.width label {
    width: 210px;
}

#brickselect label, #brickselect input {
    margin: 0
}

#brickselect td {
    padding: 0px 5px
}

#brickselect tr:hover td {
    border-bottom: 1px #333333 solid
}

#sortings a.btn-mini {
    padding: 0px 6px;
    border: none;
    margin-left: 2px
}

.counter ul.dropdown-menu {
    padding: 5px 10px
}

ul#opers {
    list-style: decimal;
    list-style-position: inside;
}

div.control-group.DELETE label {
    color: #DA4F49
}

div.controls ul {
    list-style: none
}

.icon-logo {
    width: 9px;
    background-color: #990d0d !important;
    background: url('/static/img/logo.png') no-repeat;
    vertical-align: 0;
    background-position: 0;
}

.form-actions .btn-danger {
    float: right;
}

.form-actions {
    background: none;
    border-top: 5px solid #E5E5E5;
}

.nav.nav-list .create {
    margin-top: 2px;
}

.nav.nav-list .create a {
    background-color: #468847;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
}

.badge-round {
    padding: 1px 3px 2px;
}

input[name*="amount"] {
    background: #adff2f;
}

input[name*="humidity"] {
    background: #bbd8e9;
}

input[type='date'] {
    width: auto
}

input[name*="datetime_"][type='date'] {
    width: 90px;
    margin-right: 14px
}

input[name*="datetime_"][type='time'] {
    width: 90px;
}

td.cause ul {
    list-style: none;
}

.datehead {
    position: relative;
}

.datehead a {
    top: 25%;
    position: absolute;
}

.datehead a:first-child {
    left: -20px;
}

.datehead a:last-child {
    margin-left: 5px
}

.dateform input[type='date'] {
    width: 130px
}

.dateform input[type='model'] {
    width: 160px
}

.widthcolor .control-group {
    float: left;
}

@media (max-width:480px) {
    .brickinput select, .batchinput input {
        width: auto !important;
    }
}

@media (min-width:767px) {
    fieldset.less .control-label {
        width: 100px
    }

    fieldset.less .controls {
        margin-left: 110px
    }

    fieldset.less .form-actions {
        padding-left: 110px
    }

    .brickselect .uneditable-input {
        width: 182px
    }

    .batchinput input {
        width: 90px;
    }

    .brickinput select[name="color"] {
        width: 90px;
        padding-left: 0;
    }

    .brickinput select[name="width"] {
        width: 110px;
        padding-left: 0;
        border-radius: 0
    }

    .weightinput input {
        width: 42px;
    }

    .weightinput span {
        margin-left: 2px;
        margin-right: 2px;
    }

    .flexioninput input {
        width: 90px
    }

    .moneyinput span {
        width: 36px
    }

    .moneyinput input {
        width: 174px
    }

    .moneyinput span {
        width: 36px
    }

    .tarainput input {
        width: 174px
    }

    .tarainput span input {
        width: 26px
    }
}

#batch-list th {
    text-align: center;
}

fieldset legend a {
    color: #333333;
}

fieldset table th label {
    margin: 0;
}

fieldset.Part div.row {
    margin-bottom: 10px;
    padding-bottom: 2px;
    border: #2F96B4 solid 2px;
}

fieldset.Part div.span3 {
    margin-left: 10px
}

fieldset.Part div.success {
    background-color: #dff0d8;
}

fieldset.Part div.error {
    background-color: #fcf8e3;
}

fieldset.Part div.info {
    background-color: #d9edf7;
}

fieldset table td {
    margin: 0;
}

input[type='time'] {
    padding-top: 2px
}

fieldset table tr td input[type='date'], fieldset table tr td input[type='time'],
fieldset table tr td input[type='number'], fieldset table tr td input[type='text'],
fieldset table tr th input[type='date'], fieldset table tr th input[type='time'],
fieldset table tr th input[type='number'], fieldset table tr th input[type='text'],
fieldset table tr td textarea, fieldset table tr td select,
fieldset table tr th textarea, fieldset table tr th select {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    height: 30px;
}

fieldset table tr td input[name*='test'] {
    width: 52px;
}

fieldset table tr td input[name*='brocken'] {
    width: 60px;
}

fieldset table tr td input[name*='amount'] {
    width: 70px;
}

fieldset table td.input-box {
    width: 34px;
}

fieldset table tr td input[name*='flexion'] {
    width: 100%;
}

fieldset table tr td input[name*='pressure'] {
    width: 100%;
}

fieldset table tr td input[name*='limestone'] {
    width: 117px;
}

[data-title='Ошибка'] {
    border: red 1px dashed;
}

table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[name*='pf'] {
    width: 52px;
}

input[name*='pct'] {
    width: 52px;
}

input[name*='chamfer'] {
    width: 52px;
}

fieldset table tr td input[name*='-size'] {
    width: 115px;
    text-align: center;
}

#journal fieldset table, #tests fieldset table {
    margin-right: auto;
    margin-left: auto;
}

.tests .pressure input[name*='-size'] {
    width: 145px !important;
    text-align: center;
}

.tests .pressure input[name*='tto'] {
    width: 52px;
    text-align: center;
}

.tests .flexion  input[name*='tto'] {
    width: 32px;
    text-align: center;
}

.tests input[name*='row'], .tests input[name*='poddon'] {
    width: 32px;
    text-align: center;
}

.tests input[name*='area'] {
    width: 58px;
    text-align: center;
}

.tests input[name*='readings'] {
    width: 52px;
    text-align: center;
}

.tests input[name*='value'] {
    width: 52px;
}

#parts label {
    display: none
}

#warren table > tbody:nth-child(odd) {
    background-color: #f9f9f9;
}

fieldset table tr td input[disabled] {
    cursor: inherit;
}

fieldset table tr td input[readonly] {
    cursor: inherit;
}

fieldset table tr td:last-child input, fieldset table tr td:last-child textarea {
    border-radius: 0 4px 4px 0;
}

fieldset table tr td {
    vertical-align: top;
}

fieldset table tr td input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none !important;
}

fieldset table tr td input[type="date"] {
    width: 95px
}

#journal fieldset table tr td input[type="date"] {
    display: none
}

fieldset table .Sand .control-group {
    margin-bottom: 5px;
}

fieldset table tr td input {
    padding: 4px 6px
}

fieldset table tr td input[type='number'] {
    text-align: center
}

fieldset table tr td input[name*="tts"] {
    width: 40px;
}

fieldset table tr td input[name*="density"] {
    width: 50px;
}

fieldset table tr td input[name*='path'] {
    width: 32px;
    text-align: center;
}

fieldset table tfoot td input[name*='brocken'] {
    width: 82px;
}

fieldset table tr td input[name*='position'] {
    width: 32px;
    text-align: center;
}

fieldset table tr td input[name*="vacuum"] {
    width: 50px;
}

fieldset table tr td input[name*="weight"] {
    width: 50px;
}

fieldset table tr td input[name*="humidity"] {
    width: 50px;
}

fieldset table tr td input[name*="shrink"] {
    width: 50px;
}

fieldset table tr td input[name*="conveyor"] {
    width: 50px;
}

fieldset table tr td input[name*="temperature"] {
    width: 45px;
}

fieldset table tr td input[name*="-sand"] {
    width: 50px;
}

fieldset table tr td input[name*="inclusion"] {
    width: 50px;
}

fieldset table tr td input[name*="particle_size"] {
    width: 50px;
}

fieldset table tr td input[name*="module_size"] {
    width: 50px;
}

fieldset table tr td input[name*="poke"] {
    width: 90px;
}

fieldset table tr td input[name*="stratcher"] {
    width: 130px;
}

fieldset table tr td input[name*="dust"] {
    width: 50px;
}

fieldset table tr td textarea {
    width: 66px;
}

fieldset table tr td input[name*="datetime_"][type='date'] {
    width: 95px;
    margin-right: 2px
}

fieldset table tr td input[name*="datetime_"][type='time'] {
    width: 55px;
    overflow: hidden;
    white-space: normal
}

fieldset table tr td.input-append {
    margin: 0
}

fieldset table tr td select {
    padding-left: 0;
}

fieldset table tr td select[name*='cavitation'] {
    width: 80px;
}

fieldset table tr td select[name*='color'] {
    width: 90px;
}

fieldset table tr td select[name*='width'] {
    width: 80px;
}

fieldset table tr td select[name*='path'] {
    width: 90px;
}

/*warren*/
fieldset table tr td input[name*="tto"] {
    width: 50px;
}

fieldset table tr td input[name*="tts"] {
    width: 40px;
}

.counter a:hover {
    text-decoration: none
}

form fieldset.Batch h3 {
    text-align: center
}

form fieldset.Batch div.limit label.control-label {
    width: 100px;
    overflow: hidden;
}

form fieldset.Batch div.limit .controls {
    margin-left: 110px
}

.input-micro {
    width: 40px
}

.input-mini {
    width: 60px
}

table td.error input, table td.error .uneditable-input {
    color: #B94A48;
    border-color: #B94A48;
}

.add-on input[type='checkbox'] {
    vertical-align: baseline
}

#sortings a, #bricks a, #jurnal a, #Verification a {
    color: #333
}

li.mark a {
    padding: 5px;
}

form legend + .control-group {
    margin-top: 18px;
    -webkit-margin-top-collapse: separate;
}

.popover-content p {
    text-align: center
}

td[rel='popover'] {
    cursor: pointer
}

div.ctype div.controls, div.defect div.controls {
    padding-left: 20px;
}

table span.label a {
    color: white
}

/* http://www.artlebedev.ru/tools/technogrette/html/rouble/ */
span.ruble {
    text-transform: uppercase;
}

span.rel {
    position: relative;
}

span.dborder {
    top: -1.5ex;
    left: 0;
    width: .9ex;
    border-bottom: 0.16ex solid #333;
/ / top : - 1.3 ex;
}

span.dot {
    position: absolute;
    text-indent: -1000em;
}

span.input {
    overflow: hidden;
}

tr.Bill {
    border-top-width: 2px
}

tr.Bill .label {
    float: right;
}

.Sold .transfer p.help-block {
    display: none
}

.Sold .transfer {
    display: none
}

.Sold.transfered .transfer {
    display: block;
}

/* Общее */
.icon-DELETE {
    background-position: -456px 0
}

i.icon-zoom-in.zoom {
    background-position: -360px 0;
}

/* Energy */
.icon-energy {
    background-position: -432px -144px;
}

.icon-Energy {
    background-position: -72px -120px;
}

.icon-Teplo {
    background-position: -72px -24px;
}

/* Sold */
.icon-Sold, .icon-sold {
    background-position: -336px -96px
}

.icon-Transfer, .icon-transfer {
    background-position: -336px -120px
}

.icon-Brick {
    background-position: -240px 0
}

.icon-brick {
    background-position: -240px 0
}

.icon-brick_from {
    background-position: -240px 0
}

.icon-amount {
    background-position: -240px 0
}

.icon-tara {
    background-position: -216px 0
}

.icon-poddon {
    background-position: -240px 0
}

.icon-price {
    background-position: -360px -120px
}

.icon-delivery {
    background-position: -289px -96px
}

/*Bill*/
.icon-Bill, .icon-whs {
    background-position: -360px -120px
}

.icon-Agent {
    background-position: -168px 0
}

.icon-date {
    background-position: -192px -120px
}

.icon-agent {
    background-position: -168px 0
}

.icon-number {
    background-position: -24px -24px;
}

.icon-seller {
    background-position: -96px -24px;
}

.icon-info {
    background-position: 0 -72px;
}

/* Man */
.icon-Man, .icon-man {
    background-position: -408px -96px
}

.icon-jurnal {
    background-position: -360px -48px;
}

.icon-Add {
    background-position: -289px -96px
}

.icon-Sorting {
    background-position: -216px -24px
}

.icon-Sorted {
    background-position: -240px -24px
}

.icon-Removed {
    background-position: -120px -24px
}

.icon-Inventory {
    background-position: -144px -96px
}

.icon-Write_off {
    background-position: -120px -24px
}

@media print {
    button, input[type='button'], input[type='submit'], a.btn {
        display: none !important;
    }

    .fake, .form-actions, .dateform {
        display: none !important
    }

    input[type="text"], input[type="number"], input[type="date"], input[type="time"], textarea, select {
        border: none !important;
        border-size: 0 !important;
        -webkit-box-shadow: none !important;
        -webkit-appearance: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
    }

    #journal table {
        page-break-inside: avoid;
    }

    input[type="date"] {
        width: 85px !important;
    }

    ::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none !important;
    }

    h1 a {
        display: none
    }

    tr, td, th {
        border: 1px black solid;
    }

    table .label {
        display: none
    }

    table, td, th, tr {
        border: black solid 1px !important;
        background: none !important;
    }

    .add-on {
        background: none !important;
        border: none !important;
    }

}

    }