<form id='brickselect-buttons'>
<ul class="nav nav-pills">
    {% for item in brick_menu %}
        <li class="dropdown">
            <a href="#{{ item.name }}" class="dropdown-toggle" role='button' data-toggle="dropdown">
                <span class="label">0</span> {{ item.verbose_name }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu {{ item.name }}" role='menu'>
                {% for k,v in item.items %}
                    <li>
                        <label class="radio {{ k }}"> <input type='checkbox' name='{{ item.name }}' value='{{ k }}'>
                            {{ v }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
<li class="dropdown">
    <button class='btn btn-primary' type='submit'>Показать</button>
    <button class='btn btn-small' type='reset'>Сбросить</button>
</li>
</ul>

</form>