label:after {
    content: ':';
}

label sup {
    text-decoration: underline;
}

label {
    width:100px;
    display: block;
    float:left;


}

div.field {
    clear: left;
    padding-left:5px;
    padding-top: 5px;
}