/*
css={
        'view':{u'Л':u'facial',u'Р':u'common'},
        'weight':{u'1':u'single',u'1.4':u'thickened',u'2':u'double'},
        'color':{u'Кр':'c_red',u'Же':'c_ye',u'Ко':'c_br',u'Св':u'c_li',u'Бе':u'wh'},
        'brick_class':[u'cl_red',u'cl_ye',u'cl_br',u'cl_li',u'cl_wh',u'cl_eu',u'cl_ot',],
        'mark':{100:u'm100',125:u'm125',150:u'm150',175:u'm175',200:u'm200',250:u'm250',9000:u'm9000'},
        'color_type':{'':'type0','1':"type1",'2':'type2','3':'type3'},
        'defect':{u'':u'lux',u'<20':u'p_20',u'>20':u'm_20'},

    }
*/


.DialogMenu {
    float:left;
}

.errorlist {
/*display:none;*/
}

.selected td {
    border-bottom: 2px green dotted;
}

.facial {
    font-weight: bold;
}

.common {

}

.cl_red {
    background: Salmon;
}

.cl_ye {
    background: PeachPuff;
}

.cl_br {
    background: Tan;
}

.cl_li {
    background: Lightseagreen;
}

.cl_wh {
    background-color: Snow;
}

.cl_eu {
    background-color: Cyan
}

.cl_ot {
    background-color: gray;
}

li {
    list-style-type:none;
}

li.tara,li.amount {
    float:left;
    padding-right:5px;
}

li label:after {
    clear:left;

}