{% extends 'core/index.html' %}
{% load bkz %}

{% block title %}{{ object|model_verbose_name }} {{ object }}{% endblock %}
{% block container %}
<div class="container">
    <form accept-chartset='utf-8' class='' action="" method="post">
        {% csrf_token %}
        <h1>Вы уверены?</h1>
        <p>что хотите удалить <b>{{ object|model_verbose_name }} {{ object }}?</b></p>
        <button type="submit" class="btn btn-danger">Да, уверен</button>
        <a href="{{ object.get_absolute_url }}" class='btn'>Вернутся</a>
    </form>
</div>
{% endblock %}