{% load class_name %}
{% spaceless %}
<fieldset>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
</fieldset>
<fieldset class='{{ form|class_name }}'>
    <legend>
        {% if form.instance.get_absolute_url %}
            <h1>{% else %} <h2> {% endif %}
        {{ form.instance|safe }}
        {% if not form.instance.get_absolute_url %}
            </h2>{% else %}</h1>{% endif %}
    </legend>
    {% for e in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ e }}</strong>
        </div>
    {% endfor %}
    {% for f in form.visible_fields %}
        <div class="control-group {% if f.errors %}error{% endif %} {{ f.name }}">
            <label title="{{ f.help_text }}" class="control-label" for="{{ f.id_for_label }}"><i
                    class='icon-{{ f.name }}'></i>
                {{ f.label }}{% if f.field.required %}<b title='Обязательное поле'>*</b>{% endif %}
            </label>
            <div class='controls'>
                {% if 'brick' in f.name %}
                    {% include 'whs/widgets/brick-select-field.html' %}
                {% elif f.name == 'price' or f.name == 'delivery' %}
                    <div class="input-append">
                        {{ f }}
                        <span class="add-on">Руб</span>
                    </div>
                {% elif f.name == 'tara' %}
                    <div class="input-append">
                        {{ f }}
                        <span class="add-on btn" title='Рассчитывать по поддонам кол-во кирпича'>
                            <input type="checkbox" name='tara-calculate' checked="checked">
                        </span>
                    </div>
                {% elif f.name == 'agent' or f.name == 'seller' %}
                    {% include 'whs/widgets/agent-select.html' %}
                {% elif f.name == 'cartridge' or f.name == 'printer' or f.name == 'device' %}
                    {% include 'it/cartridge-select.html' %}
                {% else %}
                    {{ f }}
                {% endif %}
                {% if f.errors %}
                    <span class="help-inline">
                        {% for q in f.errors %}
                            {{ q }}
                        {% endfor %}
                    </span>
                {% endif %}
                {% if f.help_text and not f.value %}
                    <p class="help-block">
                        {{ f.help_text }}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</fieldset>
{% endspaceless %}