<div class="control-group {% if f.errors %}error{% endif %} {{ f.name }}">
    <label title="{{ f.help_text }}" class="control-label" for="{{ f.id_for_label }}"><i
            class='icon-{{ f.name }}'></i>
        {{ f.label }}{% if f.field.required %}<b title='Обязательное поле'>*</b>{% endif %}
    </label>

    <div class='controls'>
        {{ f }}
        {% if f.errors %}
            <span class="help-inline">
                        {% for q in f.errors %}
                            {{ q }}
                        {% endfor %}
                    </span>
        {% endif %}
    </div>
</div>