{% extends 'core/index.html' %}
{% load class_name %}
{% load url from future %}
{% block title %}
    {% if form.insntace.pk %} {{ form.instance|striptags }}
        {% else %}{{ form.instance|model_verbose_name }} {% endif %}
{% endblock %}
{% block container %}
    <div class="span6">
        <form method="POST" action="" class='form-horizontal'>
            {% csrf_token %}
            {% include 'core/fieldset.html' %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Сохранить изменения
                </button>
                <button type="reset" class="btn"><i class="icon-ban-circle"></i> Отменить</button>
                {% block bonus-button %} {% endblock %}
            </div>
        </form>
    </div>
{% endblock %}