{% extends 'core/index.html' %}
{% load bkz %}
{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.maskedinput.js"></script>
{% endblock %}
{% block title %}
    {% if form.instance.pk %}
        {{ form.instance }}
    {% else %}
        {{ form.instance|striptags }}
    {% endif %}
{% endblock %}
{% block container %}
    {% block form %}
        <div class="container">
            <h1>
                {% if form.instance.pk %}
                    {{ form.instance }}
                {% else %}
                    {{ form.instance|striptags }}
                {% endif %}
            </h1>
            <form accept-chartset='utf-8' method="POST" action="" class='form-horizontal' id="form">
                {% csrf_token %}
            <div class="row">
                <div class='span6'>
                {{ form.as_div }}
                </div>
            </div>  
            </form>
        </div>  
    {% endblock %}
    <div class="form-actions">
        <div class="container">
            <button type="submit" class="btn btn-primary" form="form">
                <i class="icon-ok icon-white"></i> Сохранить изменения
            </button>
            {% block bonus-button %}{% endblock %}
            {% if form.instance.pk %}
                    <a href="{{ form.instance.get_delete_url }}" class='btn btn-danger'>Удалить</a>
                {% endif %}
        </div>
    </div>
{% endblock %}