{% extends 'core/index.html' %}

{% block container %}
    <div class="row">
        <h1 style="text-align: center">Помощь</h1>

        <div class="span4">
            <h2>Накладные</h2>

            <p>
                Для создания новой накладной необходимо шелкнуть на кнопку с правом углу экрана -
                <i>Создать</i>, далее выбрать <a href='/Накладная/'>Накладную</a>.
            </p>

            <p>
                При необходимости изменить дату или номер накладной.
            </p>

            <p>
                Найти <a href="/Контрагенты">Контрагента</a> в выпадающем меню, если конрганта в списке нет
                следует его добавить. Для этого можно шелкнуть на кнопку с правом углу экрана -
                <i>Создать</i>, далее выбрать <a href='/Контрагент/'>Контрагента</a>.
                Или же нажать на кнопку справа от выпадающего списка при невыбранном контрагенте
                <i class="icon-plus-sign"></i>
            </p>

            <p>
                Для просмотра или редактирования реквезитов контрагента можно нажать на икноку
                справа от выпадающего списка <i class="icon-info-sign"></i>.
            </p>
        </div>
        <div class="span4">
            <h2>Производство</h2>
        </div>
        <div class="span4">
            <h2>Сортировка</h2>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Добавление кирпича</h2>
            <p> Добавление кирпича производится через "Создать" -
                <a href="http://localhost:8000/Кирпич/">"Кирпич"</a> </p>
            <p> При добавление необходимо вписать его точное название из документов. </p>
            <p> Так же необходимо выбрать его номенклатуру для печатных документов и бухгалтеского учета.
                <b class="label label-warning">Внимательно заполняйте этот пункт</b> </p>
            
        </div>
        <div class="span4">
            <h2>Инвентаризация</h2>
        </div>
        <div class="span4">
            <h2>Добалвние контагента</h2>
        </div>
    </div>
{% endblock %}