<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Склад готовой продукции ООО 'Березниковский кирпичный завод'">
    <meta name="author" content="Катаев Денис">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BKZ : {% block title %}Главная{% endblock %}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}bootstrap/bootstrap.css" rel="stylesheet">
    {% block head %}
        <link href="{{ STATIC_URL }}bootstrap/docs.css" rel="stylesheet">
    {% endblock %}
    <style> body { padding-top: 0; position: relative;} </style>
    <style type="text/css" media="print"> .navbar, #footer { display: none } </style>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/brick.css" rel="stylesheet">
{#    <link href="/static/img/logo.png" rel='shortcut icon'>#}
{#    <link rel="shortcut icon" href="{{ STATIC_URL }}/img/cargo/cargo3.png">#}
</head>
<body data-spy='scroll' data-target='.navbar' data-offset='40'>
{% include 'core/navbar.html' %}
{% block brick-select %} {% endblock %}
{% block container %}
<div class='masthead jumbotron'
    <div class="container">
        
        <img src="{{ STATIC_URL }}img/logo.svg" style='width:15%'>
        <h1>
            <b>Березниковский</b><br>кирпичный<br>завод
        </h1>
        <h2>Корпоративный портал</h2>
        <p>
            
        </p>
        <p>
            <a class="btn btn-primary" href="{% url price %}">Прайс-лист цен на продукцию</a>
        </p>
    </div>
</div>
{% endblock %}
<div class="container" id="footer">
    <div class="row-fluid">
        <div class="span6">
            <blockquote>
                <ul class="unstyled">
                    <li><b>ООО &laquo;Березниковский кирпичный завод&raquo;</b></li>
                    <li>Корпоративный портал</li>
                </ul>
            </blockquote>
        </div>
        <div class="span6">
            <blockquote>
                <ul class="unstyled">
                    <li>
                        <i class="icon-star"></i>
                        <a title="Разработчик" href="https://plus.google.com/u/0/101946326841894739802/about">Катаев
                            Денис</a>
                    </li>
                </ul>
            </blockquote>
        </div>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.8.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/accounting.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/brick.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
