<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Склад готовой продукции ООО 'Березниковский кирпичный завод'">
    <meta name="author" content="Катаев Денис">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BKZ : {% block title %}Главная{% endblock %}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style> body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    } </style>
    <script type="text/javascript" src="/static/js/libs/less-1.2.1.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/brick.css" rel="stylesheet">
    <style type="text/css" media="print"> .navbar {
        display: none
    } </style>
    {% block head %}
    {% endblock %}
    <link rel="shortcut icon" href="/static/img/cargo/cargo3.png">
</head>

<body>
{% include 'core/navbar.html' %}
{% block brick-select %} {% endblock %}
{% block container %}
<div class="container">
        <div class="row">
            <div id="bkz-carousel" class="span5 carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="/static/img/carousel/brick.jpg">

                        <div class="carousel-caption">
                            <h4>Обжиговая телега</h4>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/img/carousel/IMG_20120626_143949.jpg">

                        <div class="carousel-caption">
                            <h4>Участок отрузки</h4>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/img/carousel/IMG_20120627_103834.jpg">

                        <div class="carousel-caption">
                            <h4>Глина</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#bkz-carousel" data-slide='prev'>&lsaquo;</a>
                <a class="carousel-control right" href="#bkz-carousel" data-slide='next'>&rsaquo;</a>
            </div>
            <div class="span6 well">
                <h1>Корпоративный портал</h1>
                Включает в себя:
                <ul>
                    <li>Лаборатория</li>
                    <li>Склад</li>
                    <li>Учет энергоресурсов</li>
                    <li>Учет расходников ИТ</li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}
<div class="container" id="footer">
    <div class="row-fluid">
    <div class="span6">
        <blockquote>
            <ul class="unstyled">
                <li><b>ООО &laquo;Березниковский кирпичный завод&raquo;</b></li>
                <li>Корпоративный портал</li>
            </ul>
        </blockquote>
    </div>
    <div class="span6">
        <blockquote>
            <ul class="unstyled">
                <li>
                    <i class="icon-star"></i>
                    <a title="Разработчик" href="https://plus.google.com/u/0/101946326841894739802/about">Катаев
                        Денис</a>
                </li>
                <li>
                    <i class="icon-question-sign"></i>
                    <a href="/Помошь">Помощь</a></li>
            </ul>
        </blockquote>
    </div>
    </div>
</div>

<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{#<script type="text/javascript" src="/static/js/libs/modernizr.custom.68085.js"></script>#}
<script type="text/javascript" src="/static/js/libs/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/js/libs/accounting.min.js"></script>

<script type="text/javascript" src="/static/js/brick.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>

{#<script src="/static/js/bootstrap/bootstrap-transition.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>#}
<script src="/static/js/bootstrap/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap/bootstrap-button.js"></script>
<script src="/static/js/bootstrap/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap/bootstrap-carousel.js"></script>
{#<script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>#}
{#{% block script %}#}
    <script type="text/javascript">
        $('.carousel').carousel()
        $('.collapse').collapse()
    </script>
{#    <script src="/static/js/lab.js"></script>#}
{#{% endblock %}#}
</body>
</html>