{% load url from future %}
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url 'index' %}">
                <i class="icon-logo"></i>
                <abbr style="border: none" title="Березниковский кирпичный завод'">BKZ</abbr>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    {% for v in nav %}
                        {% if v|length_is:1 %}
                        <li class="divider-vertical"></li>
                        {% else %}
                        <li><a href="{% url v.0 %}"> <i class="{{ v.1 }}"></i> {{ v.2 }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% block navbar-form %}
                {% endblock %}
                <ul class="nav pull-right">
                {% if messages %}
                    <li><a id='messages' href="#" data-trigger='hover' data-placement='bottom' rel="popover" data-content="{% include 'core/messages.html' %}" data-original-title="<i class='icon-info-sign'></i> Сообщения"><span class="badge">{{ messages|length }}</span> Сообщения</a></li>
                {% endif %}

                    {% include 'core/auth.html' %}
                {% if menu|length %}
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-plus '></i>
                            Создать <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for v in menu %}
                                {% if v|length_is:1 %}
                                    <li class="{{ v.0 }}"></li>
                                {% else %}
                                    <li><a href="{% url v.0 %}"> <i class="{{ v.1 }}"></i> {{ v.2 }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
