{% extends 'core/index.html' %}
{% load bkz %}
{% block head %}
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/d3.v3.min.js"></script>
    <script type="text/javascript">
    $(function(){
var $chart = $('#chart')
var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = $chart.width() - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

data = $('tbody tr').not('.fake').map(function(){ 
        var tts = $(this).find('input[name*="tts"]').val()
        var density = $(this).find('input[name*="density"]').val()
        var vacuum = $(this).find('input[name*="vacuum"]').val()
        if (density * vacuum) {
        return {tts:+tts,"Плотность":parseFloat(density),"Вакуум":parseFloat(vacuum)}
        }
     })
if (!data.length) return;


var x = d3.scale.ordinal()
    .range([0, width])
    .domain(data.map(function(i,d){return d.tts}))
    .rangePoints([0, width])

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")

var line = d3.svg.line()
    // .interpolate("basis")
    .x(function(d,i) { return x(d.tts); })
    .y(function(d) { return y(d.temperature); });

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "tts"; }));


  cities = color.domain().map(function(name) {
    return {
      name: name,
      values: data.map(function(i,d) {
        return {tts: d.tts, temperature: d[name]};
      })
    };
  });

  y.domain([
    d3.min(cities, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
    d3.max(cities, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
  ]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)

  var city = svg.selectAll(".city")
      .data(cities)
    .enter().append("g")
      .attr("class", "city");

  city.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return line(d.values); })
      .style("stroke", function(d) { return color(d.name); });

  city.append("text")
      .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
      .attr("transform", function(d) { return "translate(" + x(d.value.tts) + "," + y(d.value.temperature) + ")"; })
      .attr("x", 3)
      .attr("dy", ".35em")
      .text(function(d) { return d.name; });
});
    </script>
{% endblock %}
{% block title %}Формовка{% endblock %}
{% block container %}
<div class="container" id='forming'>
    <div class="row">
            <div class="span8">
                <h1 class='datehead'>
                    <a href='?date={{ dateform.previous.isoformat }}'><i class='icon-arrow-left'></i></a>
                    Формовка <small>за {{ date|date:'j E Y, l' }}</small>
                    <a href='?date={{ dateform.next.isoformat }}'><i class='icon-arrow-right'></i></a>
                </h1>
            </div>
            <form accept-chartset='utf-8' method="GET" action="" class="form-inline span4 dateform" style='margin-top: 10px;text-align:right'>
                {{ dateform.date }}
                <input type="submit" value='Показать' class="btn">
            </form>
    </div>
    <form accept-chartset='utf-8' method="POST" id='form' class='row'>
        {% csrf_token %}
        {{ factory.management_object }}    
        {{ factory.management_form }}  
        {% for e in factory.non_form_errors %}
        <div class='span12 alert alert-error'>
          Ошибка! {{ e }}
        </div>
        {% endfor %}
    <fieldset class='span3'>
        
        <table id="forming">
            <caption><h2>{{ factory.caption }}</h2></caption>
            <thead>
                <tr>
                {% for field in factory.empty_form.visible_fields %}
                    <th>{{ field.label|safe }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for form in factory %}
                <tr id='{{ form.prefix }}' class='{% if not form.instance.pk %}fake{% endif %}'>
                    {% for f in form.visible_fields %}
                        {% if forloop.first %}
                        <td class="input-prepend">
                            <span class='add-on'>
                                <a  tabindex='-1' href='{{ form.instance.get_absolute_url }}'>{{ form.order.value }}</a>
                            </span>
                            {% for f in form.hidden_fields %}
                                {{ f }}
                            {% endfor %}
                            {{ f }}
                        </td>
                        {% elif forloop.last and form.instance.pk and form.instance.lab %}
                        <td>
                            {{ f }}
                        </td>
                        {% else %}
                        <td {% include 'bootstrap/errors.html' with errors=f.errors %}>{{ f }}</td>
                        {% endif %}
                    {% endfor %}
                    {% if form.instance.pk and form.instance.warren %}
                    <td><a class='btn btn-link' href='{{ form.instance.warren.get_absolute_url }}' 
                        title="{{ form.instance.warren }}">Укладка</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>    
    <fieldset class='span4' style='padding-left:10px'>
            {{ widthcolor }}
    </fieldset>
    <div class="span9" id="chart">

    </div>
        
</form>
</div>
<div class="form-actions">
    <div class="container">
        <button type="submit" class="btn btn-primary" form="form">
            <i class="icon-ok icon-white"></i> Сохранить изменения
        </button>
    </div>
</div>
{% endblock %}