{% extends 'core/index.html' %}
{% load bkz %}
{% block title %}Производство{% endblock %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="span7">
            <h1>Производство <small>
                {% if datefilter.is_valid and datefilter.cleaned_data.date__month %}
                        за {{ datefilter.get_date|date:'F Y'|lower }} года
                    {% else %}
                        за {{ datefilter.get_date|date:'Y' }} год
                {% endif %}
                </small>
            </h1>
        </div>
        <form accept-chartset='utf-8' method="GET" action="" class="form-inline span5 dateform" style='margin-top: 10px;text-align:right'>
            {{ modelselect.model}}
            {% include 'whs/widgets/year-month-select.html' with form=datefilter year=datefilter.date__year month=datefilter.date__month %}
            <input type="submit" class="btn">
        </form>
    </div>
        <table class="table table-bordered table-condensed" id=''>
            <thead>
                <tr>
                    <th width="50px">Дата</th>
                    <th>№ телег</th>
                    <th width="60px">Кол-во</th>
                </tr>
            </thead>
            <tbody>
            {% for d,forming in object_list %}
                <tr>
                    <th class="{{ forming.0.css }}"> 
                        <a style='color:black' href="{% url make:forming %}?date={{ d.isoformat }}"> {{ d|date:'j N' }} </a>
                    </th>
                    <td>
                    {% for f in forming %}
                    <a title="{{ f }}"
                     style="{% if f.warrens.count %}text-decoration:line-through{% endif %}"
                     href="{{ f.get_absolute_url }}">
                    {{ f.tts }}</a>
                    {% for l in f.lab %}
                        <a href="{{ l.get_absolute_url }}" title='{{ l }}' class='{{ l.css }}'>{{ l.label }}</a>
                    {% endfor %}
                    {% endfor %}
                    </td>
                    <td> {{ forming|length }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}