<tr class='Bill' data-opers='Bill_{{ s.doc.pk }}'>
    <td>{{ s.doc.number }}</td>
    <td>
        {% ifchanged s.doc.date %}<b>{% endifchanged %}
        {{ s.doc.date|date:'j M Y' }}
        {% ifchanged s.doc.date %}</b>{% endifchanged %}
    </td>
    <td colspan="3">
        <a href="{{ s.doc.get_absolute_url }}">{{ s.doc }}</a>
        {% if s.doc.seller.pk == 1 %}<i title='Продажа через {{ s.doc.seller }}' class="icon-asterisk"></i>{% endif %}
        <i class="icon-zoom-in"></i>
    <span class='label {% if not s.doc.agent.form %}label-success{% endif %}'>
        <a title='Посмотреть агента' href="{{ s.doc.agent.get_absolute_url }}">{{ s.doc.agent|truncatewords:3 }}</a>
        <a title='Показать накладные этого агента' href="?agent={{ s.doc.agent.pk }}"><i
                class="icon-eye-open icon-white"></i></a>
    </span>
    </td>
</tr>