<div class="span4" style="margin: 0">
<table class=' table table-condensed' style='margin: 0'>
    <thead>
    <tr>
        <td width="15px">#</td>
        <td width="10px"></td>
        <td>Имя</td>
        <td>Кол-во</td>

    </tr>
    </thead>
    <tbody>
    {% for t in doc.instance.bill_transfer_related.all %}
        <tr class='{{ t.brick.css }}'>
            <td>{{ t.pk }}</td>
            <td>
                <label class='checkbox inline'>
                    {% if form.instance.pk == t.bill_sold_related.get.pk %}
                        <input type='checkbox' name='{{ f.html_name }}' checked="checked" value="{{ t.pk }}">
                    {% else %}
                        {% if t.bill_sold_related.get.pk %}
                            <input type='checkbox' name='{{ f.html_name }}' disabled="disabled" value="{{ t.pk }}">
                        {% else %}
                            <input type='checkbox' name='{{ f.html_name }}'  value="{{ t.pk }}">
                        {% endif %}
                    {% endif %}
                </label>
            </td>
            <td >{{ t.brick }}</td>
            <td>{{ t.amount }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</div>