<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <title>BKZ-WHS : 404</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
{#<div class="span12">#}
<div class="hero-unit">
    <h1>404!</h1>
    <p>Не найденно!</p>
    <p><a href="/" class="btn btn-primary btn-large">На главную</a></p>
</div>
{#</div>#}
</body>
</html>