{% extends 'core/index.html' %}
{% load class_name %}
{% load url from future %}
{% block title %} Покупатель кипича {% endblock %}
{% block container %}
    {% for c in select.fields.choice.choices %}
        <div class="span6"><h2>{{ c.1 }}</h2></div>
    {% endfor %}
    </div>
    <form method="POST" action="" class='form-horizontal'>
        {% csrf_token %}
        <div class="row">
            <div class="span6">
            <fieldset>
            <legend>
                <h2>Выбрать контрагента</h2>
            </legend>
                {% with f=select.agent %}
                    <select name='{{ f.html_name }}' id='{{ f.id_for_label }}' class="span6" size='20'>
                        {% if not f.field.required %}
                            <option value="" {% if not f.value %}selected="selected"{% endif %}>---------</option>
                        {% endif %}
                        <optgroup label="Выберите контрагента:">
                            {% for a in f.field.queryset %}
                                {% ifchanged a.name|capfirst|first %}
                                    </optgroup>
                                    <optgroup label="{{ a.name|capfirst|first }}">
                                {% endifchanged %}
                                <option value="{{ a.pk }}"
                                        {% if a.pk == f.value|add:0 %}selected="selected"{% endif %}>{{ a }}</option>
                            {% endfor %}
                            </optgroup>
                    </select>
                {% endwith %}
            </fieldset>
            </div>
            <div class="span6">
                {% include 'core/fieldset.html' %}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Сохранить изменения
            </button>
            <button type="reset" class="btn"><i class="icon-ban-circle"></i> Отменить</button>
            {% block bonus-button %} {% endblock %}
        </div>
    </form>
{% endblock %}