{% extends 'core/index.html' %}
{% load bkz %}
{% block title %}Партии{% endblock %}
{% block container %}
<div class="container">
    {% load pagination_tags %}
    {% autopaginate object_list rpp %}
    <div class="row">
        {% if factory|length %}
        <div class='span12' id='brickfade'>
            <form accept-chartset='utf-8' method="POST" action="{% url whs:Add-list %}" id='form'>
                {% csrf_token %}
                {{ factory.management_object }}
                {{ factory.management_form }}
                <table id='parts' class='table table-condensed'>
                    <caption><h1>Новые партии</h1></caption>
                    <thead>
                    <tr>
                        <th>Дата</th>

                        <th>№</th>
                        <th>Название</th>
                        <th>Кирпич</th>
                    </tr>
                    </thead>
                    {% for form in factory %}
                    {% include 'whs/part_form.html' with form=form %}
                    {% endfor %}
                </table>
                <div class="container">
                    <button type="submit" class="btn btn-primary" form="form">
                        <i class="icon-ok icon-white"></i> Сохранить
                    </button>
                </div>
            </form>
        </div>
        {% endif %}
        {% include 'whs/widgets/brickselect-table.html' with Bricks=Bricks class='span12' %}
        <div class="span12">
            <table id='batchs' class="table table-bordered table-condensed">
                <caption><h1>Партии</h1></caption>
                <thead>
                <tr>
                    <th style='width:100px' rowspan="2">Дата</th>
                    <th rowspan="2">№</th>
                    <th rowspan="2">Кирпич</th>
                    <th rowspan="2"><abbr title="Установленная марка">М</abbr></th>
                    <th colspan="3">Кол-во</th>
                </tr>
                <tr>
                    <th>Гост</th>
                    <th><20%</th>
                    <th>>20%</th>
                </tr>
                </thead>
                <tbody>
                {% for b in object_list %}
                <tr title="{{ b.title }}" class='{{ b.css }}'>
                    <th>{{ b.date }}</th>
                    <th>{{ b.number }}</th>
                    <td><a href="{{ b.get_absolute_url }}">{{ b.get_full_name }}</a> <a class="label pull-right"
                                                                                        href='{{ b.get_tests_url }}'>Испытания</a>
                    </td>
                    <td>{{ b.get_mark_display }}</td>
                    {% for p in b.parts_by_defect %}
                    <td>{{ p|func_pluck:'sum out'|default_if_none:0 }}</td>
                    {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% paginate using 'pagination/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}