{% extends 'core/index.html' %}
{% load floppyforms %}
{% load class_name %}
{% block title %}
    {% if form.instance.pk %}
        {{ form.instance|model_verbose_name|safe }}
    {% endif %}
    {{ form.instance|striptags }}
{% endblock %}
{% block container %}
    <div class="container">
        <form class="form-horizontal" method="POST" action="{{ form.instance.get_absolute_url }}">
            {% csrf_token %}
            <div class="row">
                <div class="span5">
                    <fieldset class="Bill">
                        <legend>
                            <h1>{% if form.instance.pk %}{{ form.Meta.model|model_verbose_name }} {% endif %}
                                <small>{{ form.instance }}</small>
                            </h1>
                        </legend>
                        {{ form.as_table }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-large">
                                <i class="icon-ok icon-white"></i> Сохранить
                            </button>
                            {% if form.instance.pk %}
                            <a class="btn btn-info" href={% url whs:Bill-print pk=form.instance.pk %}>
                                <i class="icon-print icon-white"></i>
                                Печать
                            </a>
                            {% endif %}
                        </div>
                    </fieldset>

                </div>
                <div class="span7" id="brickselect-fade">
                    {% if solds and pallets %}
                        <fieldset>
                            <legend>
                                <h2>
                                    Операции
                                    <a class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Добавить
                                        отгрузку</a>
                                    <a class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Добавить
                                        поддоны</a>
                                </h2>
                            </legend>
                        </fieldset>
                        <div class="accordion" id="opers">
                            {#  solds  #}
                            {% include 'whs/bill_opers.html' with form=solds.empty_form hide=1  only %}
                            {% for form in solds %}
                                {% include 'whs/bill_opers.html' with form=form only %}
                            {% endfor %}
                            {#  pallets  #}
                            {% include 'whs/bill_opers.html' with form=pallets.empty_form hide=1 only %}
                            {% for form in pallets %}
                                {% include 'whs/bill_opers.html' with form=form only %}
                            {% endfor %}
                        </div>
                        {{ solds.management_form }}
                        {{ pallets.management_form }}
                    {% endif %}
                </div>
                <div class="span7" style="display: none;" id="brickselect">
                    <fieldset>
                        <legend>
                            <h3>Выбор кирпича
                                <a class="btn btn-success">Назад</a>
                            </h3>
                        </legend>
                        <div style='overflow: auto;height: 450px'>
                            {% include 'whs/widgets/brick-select-table.html' %}
                        </div>
                    </fieldset>
                </div>
            </div>

        </form>
    </div>
{% endblock %}