{% extends 'core/index.html' %}
{% load class_name %}
{% block title %}Накладные{% endblock %}
{% block brick-select %}
    <div id="brick-select" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Выбор кирпича</h3>
            {% include 'whs/widgets/brick-select-buttons.html' %}
        </div>
        <div class="modal-body">
            {% include 'whs/widgets/brick-select-table.html' %}
        </div>
        <div class="modal-footer">
            <a href="#" class="brick-select btn btn-primary" data-dismiss="modal">Сохранить</a>
            <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
        </div>
    </div>
{% endblock %}
{% block container %}
    <div class="container">
    {% load pagination_tags %}
{#    {% autopaginate object_list %}#}
    <div class="row">
        <div class="span8">
            <table id='Bills' class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th width=15px>#</th>
                    <th width="auto">Дата</th>
                    <th>Имя <i title='Показать\Свернуть всё' class="icon-zoom-in pull-right"></i></th>
                    <th style='width:60px;'>Кол-во</th>
                    <th style='width:100px;'>Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for b in object_list %}
                        {% include 'whs/bill_tr.html' %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="3">Показанно {{ object_list|length }} из {{ page_obj.paginator.count }}</th>
                    <th>{{ object_list|sum_pluck:'items' }}</th>
                    <th><span class="money"> {{ object_list|sum_pluck:'money' }} </span></th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="span4">
        {{ form.errors }}
            <form class="filter" action="" method="GET">
                <fieldset>
                    <legend><i class="icon-search" style="vertical-align: baseline;"></i> Фильтр для поиска накладных
                    </legend>
                    <div style="margin-top: 8px;" class="control-group">
                        <div class="controls">
                            {% with year=form.year month=form.month %}
                                {% include 'whs/widgets/year-month-select.html' %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            {% with f=form.agent %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            {% with f=form.brick %}
                                {% include 'whs/widgets/brick-select-field.html' %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                                {{ form.rpp.as_widget }}
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="small btn btn-info">
                            <i class="icon-search icon-white"></i> Фильтр
                        </button>
                        <button type="reset" class="small btn">
                            Сбросить
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="span12">
        {% paginate using 'pagination/pagination.html' %}
    </div>
    </div>
{% endblock %}