{% load bkz %}
    <div class="tab-pane {% if forloop.parentloop.first and forloop.first %}active{% endif %}" id='{{ form.prefix }}'>
            <fieldset>
                <legend>
                    {% if form.instance.pk %}
                        {{ form.Meta.model|model_verbose_name }}
                        <small>{{ form.instance|safe }}</small>
                    {% else %}
                        {{ form.instance|safe }}
                    {% endif %}
                </legend>
                {{ form.as_div }}
            </fieldset>
    </div>