{% extends 'core/form.html' %}
{% load bkz %}
{% block form %}
    <div class="container">
        <form class="form-horizontal" method="POST" action="{{ form.instance.get_absolute_url }}" id='form'>
            {% csrf_token %}
            {% for k,o in opers.iteritems %}
                {{ o.management_form }}
            {% endfor %}
            <div class="row">
                <div class='span5'>
                    <fieldset>
                        <legend>{{ form.instance.get_type_display }}</legend>
                    {{ form.as_div }}
                    </fieldset>
                </div>
                <div class="span7" style="display: none;" id="brickselect">
                    <fieldset>
                        <legend>
                            Выбор кирпича
                                <a class="btn btn-success">Назад</a>

                        </legend>
                        <div style='overflow: auto;height: 450px'>
                            {% include 'whs/widgets/brickselect-table.html' %}
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}