{% extends 'core/index.html' %}
{% load bkz %}
{% block title %}Партии{% endblock %}
{% block container %}
    <div class="container">
    <div class="row">
        <div class="span9">
            <table id='sortings' class="table table-bordered table-condensed">
            <caption><h1>Сортировка</h1></caption>
                <thead>
                <tr>
                    <th width=45px>#</th>
                    <th width="115px">Дата</th>
                    <th width='70px'>№ партии</th>
                    <th>Кирпич</th>
                    <th style='width:60px;'>Кол-во</th>
                </tr>
                </thead>
                <tbody>
                {% for s in object_list %}
                    {% include 'whs/sorting_tr.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span3">
        {{ form.errors }}
            <form class="filter form-inline" action="" method="GET">
                <fieldset>
                    <legend style='margin-bottom:0'><i class="icon-search" style="vertical-align: baseline;"></i> Фильтр
                    </legend>
                    <div class='control-group'>
{% include 'whs/widgets/year-month-select.html' with form=datefilter year=datefilter.date__year month=datefilter.date__month %}
                    </div>
                    {{ filter.as_div }}
                    <div class='control-group'>
                        <button type="submit" class="small btn btn-info">
                            <i class="icon-search icon-white"></i> Фильтр
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>
{% endblock %}