{% extends 'core/index.html' %}
{% load hash from bkz %}
{% block title %}Таблица переводов{% endblock %}
{% block container %}
<div class='container'>
    <div class="row">
        <div class="span7">
            <h1>Таблица переводов</h1>
        </div>
        <form accept-chartset='utf-8' method="GET" action="" class="form-inline span5" style='margin-top: 10px;text-align:right'>
            {% include 'whs/widgets/year-month-select.html' with form=datefilter year=datefilter.date__year month=datefilter.date__month %}
            <input type="submit" class="btn">
        </form>
    </div>
    <div class='row'>
        <div class='span12'>
            <table class='table table-bordered'>
                <tbody>
                    <tr>
                        <th>
                            <span>В</span>
                            <span class='pull-right'>Из</span>
                        </th>
                    {% for k in data.keys %}
                        <th>{{ label|hash:k }}</th>
                    {% endfor %}
                    </tr>
                    {% for k,d in data.items %}
                    <tr>
                        <th>{{ label|hash:k }}</th>
                        {% for kf,v in d.items %}
                            <td class='{% if k < kf %}bc-red{% elif k > kf %}bc-yellow{% endif %}'>{{ v }}</td>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
