{% extends 'main.html' %}
{% block title %}Накладные{% endblock %}
{% block media %}
    <style>
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/Grid.css";
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/{{ DOJANGO.THEME }}Grid.css";

        article {
            clear: left;
            border: 1px black solid;
        }

        #id_date__lte, #id_date__gte {
            width: 20px;
        }

        div.date {
            /*position: relative;*/
            left: 2px;
            top: 2px;
            width: 50px;
            float: left;
            border: 2px red solid;
            text-align: center;
        }

        .table {
            border: 1px black solid;
        }
    </style>
    <script type="text/javascript">
        dojo.require('dijit.form.Form');
        dojo.require("dojox.grid.TreeGrid");
        dojo.require("dojo.data.ItemFileReadStore");
        dojo.require("dijit.tree.ForestStoreModel");
        dojo.require("dijit.Tree");

        dojo.addOnLoad(function() {
            dijit.byId('id_date__lte').onChange = function() {
                dijit.byId('id_date__gte').constraints.min = arguments[0];
            };
            dijit.byId('id_date__gte').onChange = function() {
                dijit.byId('id_date__lte').constraints.max = arguments[0];
            };

            dijit.byId('form').onSubmit = function(e) {
                var val = this.get('value');
                for (var a in val) {
                    if (!val[a]) {
                        console.log(a);
                        dojo.query('[name=' + a + ']', this.containerNode).attr('disabled', 'disabled');
                    }
                }
            };


        });
        function theRealMayHaveChildren (item){
            console.log(item,item.label)
            return (item.childen &&  item.childen.length > 0);
            };
    </script>
{% endblock %}
{% block content %}
<div dojoType="dojo.data.ItemFileReadStore" jsId="BillStore" url="store/"></div>
<div dojoType="dijit.tree.ForestStoreModel" jsId="BillModel" store="BillStore" query="{agent:'*'}"></div>
<div dojoType="dijit.Tree" id="BillTree" model="BillModel" openOnClick="true" showRoot='false'></div>


    </div>
    <div dojoType="dijit.layout.ContentPane" region='top'>
        <form method="GET" dojoType='dijit.form.Form' id='form' action="./">
            {{ form.brick }}
            {{ form.date__lte }}
            {{ form.date__gte }}
            {{ form.agent }}
            <button dojoType='dijit.form.Button' type=submit>Показать</button>
        </form>
{% endblock %}