{% extends 'main.html' %}
{% block title %}Накладные{% endblock %}
{% block media %}
    <style>
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/Grid.css";
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/{{ DOJANGO.THEME }}Grid.css";

        article {
            clear: left;
            border: 1px black solid;
        }

        #id_date__lte, #id_date__gte {
            width: 20px;
        }

        div.date {
            /*position: relative;*/
            left: 2px;
            top: 2px;
            width: 50px;
            float: left;
            border: 2px red solid;
            text-align: center;
        }

        .table {
            border: 1px black solid;
        }

        .transfer {
            background-image: url('/static/img/16x16/arrow.png');
            width: 16px;
            height: 16px;
        }
    </style>
    <script type="text/javascript">
        dojo.require('dijit.form.Form');
        dojo.require("dojox.grid.TreeGrid");
        dojo.require("dojo.data.ItemFileReadStore");
        dojo.require("dijit.tree.ForestStoreModel");
        dojo.require("dijit.Tree");

        dojo.addOnLoad(function() {
            dijit.byId('id_date__lte').onChange = function() {
                dijit.byId('id_date__gte').constraints.min = arguments[0];
            };
            dijit.byId('id_date__gte').onChange = function() {
                dijit.byId('id_date__lte').constraints.max = arguments[0];
            };

            dijit.byId('form').onSubmit = function(e) {
                dojo.stopEvent(e);
                var val = this.get('value');
                var query = {};
                for (var a in val) {
                    if (val[a]) query[a] = val[a];
                }
                BillStore.url = 'store/?' + dojo.objectToQuery(query);
                BillStore.close();
            };
            BillModel.mayHaveChildren = function(item) {
                if (item.children) return item.children.length;
            };
            dijit.byId('BillTree').onStyleRow = function(row) {
                if (row.index.length > 1) {
                    var item = dijit.byId('BillTree').getItem(row.index);
                    row.customClasses += BillStore.getValue(item, 'css', null);
                }
            }

        });
        function Formatter(value, rowIdx, cell, sing, plur) {
//        console.log(this,'value',value,'rowIdx',rowIdx,'cell',cell,sing,plur);
            if (value) return value;
            else return '';
        }
    </script>
{% endblock %}
{% block pane %}
    <div dojoType="dojo.data.ItemFileReadStore" jsId="BillStore" url="store/"></div>
    <div dojoType="dijit.tree.ForestStoreModel" jsId="BillModel" store="BillStore" query="{number:'*'}"></div>
    <table dojoType="dojox.grid.TreeGrid" region='center' treeModel='BillModel' id="BillTree" store='BillStore'>
{% endblock %}
{% block content %}

    <thead>
    <tr>
        {#            <th field="id">#</th>#}
        <th field="number" formatter="Formatter">#</th>
        <th field="date" width="120px" formatter="Formatter">Дата</th>
        <th field="agent" width="200px" formatter="Formatter">Контрагент</th>
        <th field="brick" formatter="Formatter" width="250px">Кирпич</th>
        <th field="amount" formatter="Formatter" aggregate="sum" itemAggregates="amount">Кол-во</th>
        <th field="price" formatter="Formatter">Цена</th>
        <th field="info" width='auto'></th>
                    <th field="amount">Кол-во</th>
                    <th field="brick">Кирпич</th>
    </tr>
    </thead>
    </table>
    </div>
    <div dojoType="dijit.layout.ContentPane" region='top'>
        <form method="GET" dojoType='dijit.form.Form' id='form' action="./">
            {{ form.brick }}
            {{ form.date__lte }}
            {{ form.date__gte }}
            {{ form.agent }}
            <button dojoType='dijit.form.Button' type=submit>Показать</button>
        </form>
{% endblock %}