{% extends 'main.html' %}
{% block title %}Остатки кирпича{% endblock %}
{% block media %}
    {{ form.media }}
    <link rel='stylesheet' href="{{ DOJANGO.DOJOX_URL }}/grid/resources/Grid.css" type="text/css">
    <link rel='stylesheet' href="{{ DOJANGO.DOJOX_URL }}/grid/resources/{{ DOJANGO.THEME }}Grid.css" type="text/css">
{% endblock %}
{% block pane %}
    <div dojoType="dijit.layout.BorderContainer" region='center'>
    <div dojoType="dijit.layout.BorderContainer" region='top' style='height:32px;'>
    <div dojoType="dijit.layout.ContentPane" region='center' id='brick_name'>Выделете кирпич для получения информации по нему</div>
    <div dojoType="dijit.layout.ContentPane" region='right'>Фильтр</div>
        </div>
    <span dojoType="dojo.data.ItemFileReadStore" jsId="brick_info" clearOnClose='true' url='/brick/1/store/'></span>
    <table dojoType="dojox.grid.DataGrid" store='brick_info' region='center' structure='BrickInfoLayout'
           style='height:350px' id='Brick_info' selectionMode='single'>
        </table>
    </div>
    <span dojoType="dojo.data.ItemFileReadStore" jsId="BrickStore" url="./store/"></span>
    <span dojoType="dojo.data.ItemFileReadStore" jsId="BrickStoreTotal" data='testdata'></span>
    <div dojoType="dijit.layout.BorderContainer" region='left' style='width:650px'>
    <table dojoType="dojox.grid.DataGrid" store='BrickStoreTotal' id='BricksTotal'
           region='bottom' style='height: 48px;' structure='BrickLayout'>
    </table>
    <table dojoType="dojox.grid.DataGrid" store='BrickStore' structure='BrickLayout'
           region='center' id='Brick' selectionMode='single'>
{% endblock %}
{% block content %}
    </table>
    </div>
    <div dojoType="dijit.layout.BorderContainer" region='top' style='width: 100%;height: 60px;'>
        <div dojoType="dijit.layout.ContentPane" region='left' id='mark' title='{{ form.mark.label }}'>
            {{ form.mark }}
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='class'>
            <ul>
                <li><label class='' for="id_brick_class_0"><input type="checkbox" name="brick_class"
                                                                  dojoType="whs.form.CheckBox" id="id_brick_class_0"/>
                    ---------</label></li>
                <li><label class='cl_red' for="id_brick_class_1"><input value="0" type="checkbox" name="brick_class"
                                                                        dojoType="whs.form.CheckBox" id="id_brick_class_1"/>
                    Красный</label></li>
                <li><label class='cl_ye' for="id_brick_class_2"><input value="1" type="checkbox" name="brick_class"
                                                                       dojoType="whs.form.CheckBox" id="id_brick_class_2"/>
                    Желтый</label></li>
                <li><label class='cl_br' for="id_brick_class_3"><input value="2" type="checkbox" name="brick_class"
                                                                       dojoType="whs.form.CheckBox" id="id_brick_class_3"/>
                    Коричневый</label></li>
                <li><label class='cl_li' for="id_brick_class_4"><input value="3" type="checkbox" name="brick_class"
                                                                       dojoType="whs.form.CheckBox" id="id_brick_class_4"/>
                    Светлый</label></li>
                <li><label class='cl_wh' for="id_brick_class_5"><input value="4" type="checkbox" name="brick_class"
                                                                       dojoType="whs.form.CheckBox" id="id_brick_class_5"/>
                    Белый</label></li>
                <li style='width:51px;'><label class='cl_eu' for="id_brick_class_6"><input value="5" type="checkbox"
                                                                                           name="brick_class"
                                                                                           dojoType="whs.form.CheckBox"
                                                                                           id="id_brick_class_6"/> Евро</label>
                </li>
                <li style='width:51px; padding-left: 6px;'><label class='cl_ot' for="id_brick_class_7"><input value="6"
                                                                                                              type="checkbox"
                                                                                                              name="brick_class"
                                                                                                              dojoType="whs.form.CheckBox"
                                                                                                              id="id_brick_class_7"/>
                    Пр</label></li>
            </ul>
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='weight'>
            {{ form.weight }}
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='view'>
            {{ form.view }}
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='type'>
            <ul>
                <li><label for="id_color_type_2"><input value="1" type="checkbox" name="color_type"
                                                        dojoType="whs.form.CheckBox" id="id_color_type_2"/> 1
                    тип</label></li>
                <li><label for="id_color_type_3"><input value="2" type="checkbox" name="color_type"
                                                        dojoType="whs.form.CheckBox" id="id_color_type_3"/> 2
                    тип</label></li>
                <li><label for="id_color_type_4"><input value="3" type="checkbox" name="color_type"
                                                        dojoType="whs.form.CheckBox" id="id_color_type_4"/> 3
                    тип</label></li>
            </ul>
        </div>
        <div dojoType="dijit.layout.ContentPane" region='center' id='other'>
            <ul>
                <li><label for="id_other_total">
                    <input value="0" type="checkbox"
                           name="total" dojoType="whs.form.CheckBox"
                           id="id_other_total"/>Не пустые</label></li>
                <li><label for="id_ye_total">
                    <input value="0" type="checkbox"
                           name="ye" dojoType="dijit.form.CheckBox"
                           id="id_ye_total"/>Считать итого в УЕ</label></li>
            </ul>
        </div>

{% endblock %}