{% extends 'main.html' %}
{% block title %}Остатки кирпича{% endblock %}
{% block media %}
    <script type="text/javascript">
        dojo.registerModulePath("whs", "/static");
        dojo.require("dojox.grid.DataGrid");
        dojo.require("dojo.data.ItemFileReadStore");
        dojo.require("whs.CheckBox");
        dojo.require("dijit.form.Form");

        dojo.addOnLoad(function() {
            var table = dijit.byId('Brick');
            dijit.byId('Brick').onStyleRow = function(row) {
                var item = table.getItem(row.index);
                if (item) {
                    row.customClasses += BrickStore.getValue(item, 'css', null);
                }
//            console.log(row.customClasses)
            }
        });

    </script>
    <style type="text/css">
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/Grid.css";
        @import "{{ DOJANGO.DOJOX_URL }}/grid/resources/{{ DOJANGO.THEME }}Grid.css";

        #mark ul, #view ul, #weight ul,
        #type ul, #class ul,#other ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

        #mark {
            width: 200px;
        }

        #class {
            width: 300px;
        }

        #mark ul li:first-child, #view ul li:first-child,
        #weight ul li:first-child, #class ul li:first-child,
        #weight ul li:last-child, #class ul li:last-child {
            display: none;
        }

        #mark li, #class li {
            float: left;
            /*padding-top: 2px;*/
        }

        #class li {
            width: 95px;
        }

        #mark li {
            width: 50px;
        }

        #type {
            height: 58px;
            padding: 0px 4px 0px 4px;
            width: 56px;
        }
    </style>
{% endblock %}
{% block pane %}
    <span dojoType="dojo.data.ItemFileReadStore" jsId="BrickStore" url="./store/"></span>
    <table dojoType="dojox.grid.DataGrid" store='BrickStore' region='center' id='Brick'
           selectionMode='single'
{#           rowsPerPage=10#}
            >
{% endblock %}
{% block content %}
    <thead>
    <tr>
        <th field="name" width="350px">Кирпич</th>
        <th field="begin" width="60px">Начало</th>
        {#      <th field="fieldName" width="200px">Приход</th>#}
        <th field="t_to" width="60px">Акт в</th>
        <th field="t_from" width="60px">Акт из</th>
        <th field="sold" width="60px">Раcход</th>
        <th field="total" width="60px">Остаток</th>
    </tr>
    </thead>
    </table>

    <div dojoType="dijit.layout.BorderContainer" region='top' style='width: 100%;height: 60px;'>
        <div dojoType="dijit.layout.ContentPane" region='left' id='mark' title='{{ form.mark.label }}'>
            {{ form.mark }}
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='class'>
                        <ul>
<li><label class='' for="id_brick_class_0"><input type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_0" /> ---------</label></li>
<li><label class='cl_red' for="id_brick_class_1"><input value="0" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_1" /> Красный</label></li>
<li><label class='cl_ye' for="id_brick_class_2"><input value="1" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_2" /> Желтый</label></li>
<li><label class='cl_br' for="id_brick_class_3"><input value="2" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_3" /> Коричневый</label></li>
<li><label class='cl_li' for="id_brick_class_4"><input value="3" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_4" /> Светлый</label></li>
<li><label class='cl_wh' for="id_brick_class_5"><input value="4" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_5" /> Белый</label></li>
<li><label class='cl_eu' for="id_brick_class_6"><input value="5" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_6" /> Евро</label></li>
<li><label class='cl_ot' for="id_brick_class_7"><input value="6" type="checkbox" name="brick_class" dojoType="whs.CheckBox" id="id_brick_class_7" /> Прочее</label></li>
</ul>
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='weight'>
            {{ form.weight }}
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='view'>
            {{ form.view }}
        </div>
        <div dojoType="dijit.layout.ContentPane" region='left' id='type'>
            <ul>
                <li><label for="id_color_type_2"><input value="1" type="checkbox" name="color_type"
                                                        dojoType="whs.CheckBox" id="id_color_type_2"/> 1
                    тип</label></li>
                <li><label for="id_color_type_3"><input value="2" type="checkbox" name="color_type"
                                                        dojoType="whs.CheckBox" id="id_color_type_3"/> 2
                    тип</label></li>
                <li><label for="id_color_type_4"><input value="3" type="checkbox" name="color_type"
                                                        dojoType="whs.CheckBox" id="id_color_type_4"/> 3
                    тип</label></li>
            </ul>
        </div>
    <div dojoType="dijit.layout.ContentPane" region='center' id='other'>
            <ul>
                <li><label for="id_other_total">
                    <input value="0" type="checkbox"
                           name="total" dojoType="whs.CheckBox"
                           id="id_other_total"/>Не пустые</label></li>
            </ul>
        </div>

{% endblock %}