{% extends "root.html" %}

{% block dojango_page_title %}Склад кирпича - {{ title }}{% endblock %}

{% block content %}
    <script type="text/javascript">
        dojo.addOnLoad(function() {
            form = dijit.byId('form');
            dojo.connect(form, 'onSubmit', function(e) {
                dojo.stopEvent(e);
                if (form.validate()) {
                    dojo.xhrPost({
                                form:e.target,
                                handleAs:'json'
                            }, function(error) {
                        contentPane.containerNode.innerHTML = 'Что то пошло не так';
                    })
                            .then(function(data) {
                        if (data.status) {
                            console.log('ok', data)
                        }
                        else {
                            console.log('fail', data)
                            for (var i in data.message) { // Цикл по словарю, берем dijit виджет
                                var input = dijit.getEnclosingWidget(dojo.query('input[name="' + i + '"]', div))
                                console.log(input);
                                input.state = 'Error';
                                input._setStateClass();// Код не мой, я просто разместил объяву
                                dijit.setWaiState(input, 'invalid', 'true');
                                input._maskValidSubsetError = true;
//                                        dijit.showTooltip(data.message[i], input.domNode, input.tooltipPosition); //Это уже мой код, тут показывается тултип
                            }
                        }
                    });
                }
                else {
                    return false;
                }

            });
        });
    </script>
    <form action="/add/sold/" dojoType="dijit.form.Form" method="POST" id='form'>
        {% for field in form %}

            {% if field.name == 'brick' %}
{#                {{ field }}#}
                {{ form.fields.brick.label }}
                <select dojoType='dijit.form.Select'>
                    {% for b in form.fields.brick.queryset %}
                    <option value='{{ b.pk }}'>{{ b }}</option>
                    {% endfor %}
                
                </select>
            {% else %}
            {{ field }}
            {% endif %}
        {% endfor %}


        <button dojoType="dijit.form.Button" type="submit">
            Схоронить
        </button>
    </form>
{% endblock %}




