<div dojoType="dijit.layout.BorderContainer">
    <div dojoType="dijit.MenuBar" region='top'>
        <div dojoType="dijit.MenuBarItem" class='FormSubmit'>
        <span>
            Save
        </span>
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" region='center'>
        <form action="{{ url }}" method="{{ method }}" dojoType='dijit.form.Form'>
                <ul>
                    {% for field in form %}
                        {% if field.name == 'transfers' or field.name == 'solds' %}

                        {% else %}
                            <li>
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
        </form>
    </div>
    <div dojoType="dijit.layout.ContentPane" region='bottom'>
        {% if field.name == 'transfers' or field.name == 'solds' %}
            <div dojo-Type='whs.OpersWidget'></div>
        {% endif %}
        </div>
</div>