{% extends "dojango/base.html" %}
{% block dojango_page_title %}{% block title %}Главная{% endblock %} - Склад кирпича{% endblock %}
{% block dojango_header_extra %}
    <script type="text/javascript" src="{{ STATIC_URL }}modernizr-2.0.6.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css"/>
    <link rel="icon" type="image/png" href="/static/img/16x16/soil_layers.png" />
    {% block media %}{% endblock %}
{% endblock %}
{% block dojango_content %}
    <div dojoType="dijit.layout.BorderContainer" style='height: 100%;'>
        <div dojoType="dijit.MenuBar" region='top'>{% include "menu.html" %}
        </div>
        <div data-dojo-type="dijit.layout.BorderContainer"
             data-dojo-props="region: 'center', design: 'headline'">
            {% block pane %}
                <div dojoType="dijit.layout.ContentPane" region='center' style='overflow-y: scroll;'>
            {% endblock %}
            {% block content %}
                x3
                </div>
                <div dojoType="dijit.layout.BorderContainer" region='top' style="height:100px;">
                    <div dojoType="dijit.layout.ContentPane" region='left'>
                        <table class='bills_table'>
                            <caption style='position: absolute; right: 1px; bottom: 0px;'><a href='/bills/'>еще</a>
                            </caption>
                            {% for b in bills %}
                                <tr pk='{{ b.pk }}'>
                                    <td>{{ b.number }}</td>
                                    <td>{{ b.date }}</td>
                                    <td>{{ b.agent.cool_name|truncatewords:2 }}</td>
                                    <td>{{ b.money }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div dojoType="dijit.layout.ContentPane" region='center'>2</div>
                    {#                <div dojoType="dijit.layout.ContentPane" region='right' style='height: 6%;'>3</div>#}
                </div>
                {#                <div dojoType="dijit.layout.ContentPane" region='bottom' style='height: 100px;'>#}

            {% endblock %}
            {#        </div>#}
        </div>
    </div>
{% endblock %}


