{% extends "root.html" %}
{% block dojango_page_title %}Склад кирпича - {{ title }}{% endblock %}
{% block content %}
    <script type="text/javascript">
        dojo.registerModulePath("whs", "/static");
        dojo.require('whs.select.Brick');

        dojo.addOnLoad(function() {

            spin = dijit.byId('id_tara');
            amount = dijit.byId('id_amount')
            poddon = dijit.byId('id_poddon');
            console.log(spin, amount, poddon)
            dojo.connect(spin, 'onChange', function() {
                amount.set('value', spin.get('value') * poddon.get('value'));
            });
            dojo.connect(poddon, 'onChange', function() {
                amount.set('value', spin.get('value') * poddon.get('value'));
            });


            form = dijit.byId('form');
            dojo.connect(form, 'onSubmit', function(e) {
                dojo.stopEvent(e);
                var value = form.get('value')
//                if ('doc_date' in value) {
//                    value['doc_date'] = dojo.date.locale.format(value['doc_date'], {datePattern:'y-M-d',selector:'date'});
//                }
                console.log('form send data:', value);
                if (form.validate()) {
                    dojo.xhrPost({
                                postData:dojo.objectToQuery(value),
                                url:form.action,
                                handleAs:'json'
                            },
                            function(error) {
                            }).then(function(data) {
                        if (data.status) {
                            console.log('ok', data.id, data);
                            dojo.create('li', {innerHTML:'ok'}, 'log');
                        }
                        else {
                            console.log('fail', data);
                            dojo.create('li', {innerHTML:'fail'}, 'log');
                            for (var i in data.message) { // Цикл по словарю, берем dijit виджет
                                var input = dijit.byId('id_' + i)
                                input.state = 'Error';
                                input._setStateClass();// Код не мой, я просто разместил объяву
                                input.set('invalid', 'true');
                                input._maskValidSubsetError = true;
                                dijit.showTooltip(data.message[i], input.domNode, input.tooltipPosition); //Это уже мой код, тут показывается тултип
                            }
                        }
                    }, function(e) {
                        console.log('fail', e);
                        dojo.create('li', {innerHTML:'fail 500'}, 'log');

                    });
                }
                else {
                    return false;
                }
            });
        });
    </script>
    <style>
        @import url('/static/style.css');

        ul {
            list-style-type: none;
        }

        ul li {
            padding-top: 5px;
        }

        ul li label {
            width: 100px;
            display: block;
        }
    </style>
    {#    <script type="text/javascript" src="/static/select/Brick/Brick.js"></script>#}
    <form action="{{ url }}" dojoType="dijit.form.Form" method="POST" id='form'>
        <ul>
            {% for field in form %}
                <li>
                    {% if field.name not in 'poddon tara' %}
                        <label> {{ field.label }} </label>
                    {% endif %}
                    {% if field.name == 'brick' %}

                        <div id='id_brick' dojoType='whs.select.Brick' id='{{ field.id }}'
                             data-dojo-attach-point="containerNode">
                            {% for b in form.fields.brick.queryset %}
                                <option class='brick {{ b.show_css }}' value='{{ b.pk }}' {% if b.pk == field.value %}
                                        selected {% endif %}
                                        cl='{{ b.get_brick_class_display }}' color='{{ b.get_color_display }}'
                                        vi='{{ b.get_view_display }}'
                                        we='{{ b.get_weight_display }}' mark='{{ b.get_mark_display }}'
                                        total='{{ b.total }}'>{{ b }}</option>{% endfor %}

                                <div id='bricksform'>
                                {% for f in brickform %}
                                    {% if f.name in 'brick_class mark view weight' %}
                                        {{ f }}
{#                                       <select class='brickform' dojoType='dijit.form.Select' value='{{ f.value }}'>#}
{#                                           {% for op in f.field.choices %}#}
{#                                           <option value='{{ op.0 }}'>{{ op.1 }}</option>#}
{#                                           {% endfor %}#}
{#                                       </select>#}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    {% else %}
                        {% if field.name not in 'poddon tara' %}
                            {{ field }}
                        {% endif %}
                    {% endif %}
                    {% if field.name == 'amount' %}
                        <input id='id_tara' dojoType="dijit.form.NumberSpinner" style='width:60px;'
                               value="{{ form.tara.value }}" smallDelta="1"
                               constraints="{min:0,max:20000/288,places:0}" intermediateChanges="true" name="tara"/>
                        {{ form.poddon }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <button dojoType="dijit.form.Button" type="submit">
            Схоронить
        </button>
    </form>
    <ul id='log'>
    </ul>
{% endblock %}