{% extends "root.html" %}
{% block dojango_page_title %}Склад кирпича - {{ title }}{% endblock %}
{% block content %}
    <script type="text/javascript">
        dojo.require('whs.select');
        dojo.require('whs.brick');
        dojo.require('whs.Dialog');
    </script>
    <form action="{{ url }}" dojoType="dijit.form.Form" method="POST" id='form'>
        <ul>
            {% for f in form %}
                <li class='{{ f.name }}'>
                    <label>{{ f.label }}</label><br>{{ f }}
                </li>
            {% endfor %}
        </ul>
        <button dojoType="dijit.form.Button" type="submit">
            Схоронить
        </button>
    </form>
    <ul id='log'>
    </ul>
{% endblock %}