{% extends "dojango/base.html" %}

{% block dojango_page_title %}Склад кирпича - Главная страница{% endblock %}

{# add your own javascript/css stuff here #}
{% block dojango_header_extra %}
    <script type="text/javascript">
        var dojoConfig = {
            isDebug: true,
            locale: 'Ru-ru',
            'parseOnLoad':true
        };
        dojo.registerModulePath("whs", "/static");
        dojo.require('whs.select.Brick');
        dojo.addOnLoad(function() {

            dojo.parser.parse();
        });

    </script>
    <style>

        @import url('/static/style.css');
        /*@import url('/static/default.css');*/

        /*body {*/
        /*background-image: url('http://dl.dropbox.com/u/8716795/background.png');*/
        /*background-repeat: no-repeat;*/
        /*background-position: left bottom;*/
        /*}*/

        span.helptext {
            display: none;
        }
        ul#menu {
            overflow: hidden;
            border-left: 1px solid #ccc;
            padding:0px;
        }
        ul#menu li {
            float: left;
            /*margin-left: 20px;*/
            list-style: none;
            padding: 0 .8em;
            border-right: 1px solid #ccc;
        }

        ul#menu li span {
            /*cle*/
            /*display:block;*/
            /*clear:left;*/
        }

    </style>
{% endblock %}


{% block dojango_content %}
    <div style='width:800px;margin:auto;'>
    <div>
        <ul id='menu'>
            <li class='home'><a href='/'>Главная</a></li>
            <li><a href='/admin/'>Админка</a></li>
            <li><a href='/form/bill/'>Добавить накладную</a></li>
            <li><a href='/bills/'>Накладные</a></li>
            <li><a href='/agents/'>Контрагенты</a></li>
            <li><a href='/form/bill/'>Произоводсво</a></li>

        </ul>
    </div>
        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


