{% extends "dojango/base.html" %}
{% block dojango_page_title %}Склад кирпича - Главная страница{% endblock %}
{% block dojango_header_extra %}
    <script type="text/javascript">
        var dojoConfig = {
            isDebug: true,
            locale: 'Ru-ru'
//            'parseOnLoad':true
        };
        dojo.registerModulePath("whs", "/static");
    </script>
    <style>
        @import url('/static/style.css');
     </style>
{% endblock %}
{% block dojango_content %}
    <div style='width:800px;margin:auto;'>
    <div>
        <ul id='menu'>
            <li class='home'><a href='/'>Главная</a></li>
            <li><a href='/admin/'>Админка</a></li>
            <li><a href='/form/bill/'>Добавить накладную</a></li>
            <li><a href='/bills/'>Накладные</a></li>
            <li><a href='/agents/'>Контрагенты</a></li>
            <li><a href='/form/bill/'>Произоводсво</a></li>
        </ul>
    </div>
        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


