{#<td><img src='http://dl.dropbox.com/u/8716795/Basic_set2_Png/arrow-turn-090.png'></td>#}
<td><img src='http://dl.dropbox.com/u/8716795/Basic_set2_Png/arrow-turn-090.png'>{{ form.brick_to }}<span style='display:none;'>{{ form.brick_from }}</span></td>
<td>{{ form.amount }}</td>
<td>
        <input dojoType="dijit.form.NumberSpinner" style='width:60px;' value="0" smallDelta="1" class='Poddon'
               constraints="{min:1,max:20000/288,places:0}" intermediateChanges="true" name="poddon"/></td>
    <td>
    <select dojoType="dijit.form.Select" class='PoddonSelect' name="tara">
        <option value='352' selected>
            Обычный поддон
        </option>
        <option value='288'>
            Маленький поддон
        </option>
    </select>
</td>
{#<td>{{ form.solds }}</td>#}