article {
    clear: left;
    border: 1px black solid;
}

#id_date__lte, #id_date__gte {
    width: 20px;
}

div.date {
    /*position: relative;*/
    left: 2px;
    top: 2px;
    width: 50px;
    float: left;
    border: 2px red solid;
    text-align: center;
}

.table {
    border: 1px black solid;
}

.transfer {
    background-image: url('/static/img/16x16/arrow.png');
    width: 16px;
    height: 16px;
}