label:after {
    content: ':';
}

label {
    width:200px;
    display: block;
    padding-bottom: 1px;
}

label sup {
    padding-left: 1px;
    text-decoration: underline;
}
form {
    margin: 5px;
}

form>div {
    padding-top: 5px;
}

.field>img {
    float:left;
    padding-right: 2px;
}

.oper img {
    width:16px;
    height: 16px;
    border: none;

}

.oper td.view {
    width:36px;
}

img[alt='delete'] { background-image: url('/static/img/16x16/delete.png'); }
img[alt='edit'] { background-image: url('/static/img/16x16/pencil_go.png'); }