.common {

}

.cl_red {
    background: Salmon;
}

.cl_ye {
    background: PeachPuff;
}

.cl_br {
    background: Tan;
}

.cl_li {
    background: Lightseagreen;
}

.cl_wh {
    background-color: Snow;
}

.cl_eu {
    background-color: Cyan
}

.cl_ot {
    background-color: gray;
}
