{% load floppyforms %}{% block row %}{% for field in fields %}
    {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
        {% block field %}
            <div class="control-group {% if errors %}error {% endif %}{% if classes %}{{ classes }}{% endif %}">
                {% block label %}{% if field|id %}<label class="control-label"
                                                         for="{{ field|id }}">{% endif %}{{ label }}
                {% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}{% endblock %}
                <div class="controls">
                    {% block widget %}{% formfield field %}{% endblock %}
                    {% block help_text %}{% if help_text %}
                        <div class="help-inline">
                            <i class="icon-info-sign" title='{{ help_text }}'></i>
                        </div>
                    {% endif %}{% endblock %}
                    {% block hidden_fields %}
                        {% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
                    {% block errors %}
                        {% if errors %}
                            <div class="help-inline">
                                {% for error in errors %}
                                    <span class="badge badge-important" title='{{ error }}'>
                                        <i class="icon-warning-sign"></i>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endwith %}{% endfor %}{% endblock %}