{% extends 'core/index.html' %}
{% block script %}
    <script type="text/javascript" src="/static/js/libs/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/underscore-min.js"></script>
    <script type="text/javascript">
    var firing = {{ firing|safe }};
    </script>
    <script type="text/javascript" src="/static/js/cpu.js"></script>
{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/colorbrewer.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/cpu.css"/>
<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
circle {
  fill:white;
  stroke-width:3px;
}

.line {
  fill: none;
  stroke-width: 1.5px;

}

.firing {
  stroke:#468847;
}

.target {
  stroke: #999999;
}

</style>
{% endblock %}
{% block title %}ЦПУ{% endblock %}
{% block container %}
<div class='container'>
    <h1>Показания технологического процесса</h1>
    <ul class='inline'>
      <li class='text-success'>Кривая обжига</li>
      <li class='muted'>График № 4</li>
    </ul>
    <div id='firing' class="span12"></div>
    
    <table id='help' class='span12 table table-bordered'>
    </table>
</div>
{% endblock %}