{% extends 'core/index.html' %}
{% load class_name %}
{% block title %}Замены{% endblock %}
{% block container %}
    <div class="span12">
    <table class="table">
    <caption><h1>Список замен</h1></caption>
    <thead>
    <tr>
        <th>Дата</th>
        <th>Накладная</th>
        <th>Принтер</th>
    </tr>
    </thead>
    <tbody>
    {% for b in object_list %}
        <tr>
        <td><a href="{{ b.get_absolute_url }}">{{ b.date }}</a></td>
        <td><a href="{{ b.cartridge.get_absolute_url }}">{{ b.cartridge }}</a></td>
        <td><a href="{{ b.printer.get_absolute_url }}">{{ b.printer }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}