<tr class="${baseClass} ${name}" value='${value}'>
    <td class='number'>${value}</td>
    <td class='brick'><span dojoType="whs.brick" value="${brick_value}" class="${brick_css}">${brick}</span></td>
    <td class='amount'>${amount}</td>
    <td class='tara'>${tara}</td>
    <td class='info'>${i}</td>
    <td class='view'>
        <img data-dojo-attach-point="editNode" alt='edit' title='Изменить' src='/static/img/16x16/pencil_go.png'>
        <img data-dojo-attach-point="deleteNode" alt='delete' title='Удолить' src='/static/img/16x16/delete.png'>
    </td>
    <td><option data-dojo-attach-point="inputNode" value='${value}'></option></td>
</tr>