<tr class="${baseClass} ${name}" value='${value}'>
    <td class='number'>${value}</td>
    <td class='brick'><span dojoType="whs.brick" value="${brick_value}" class="${brick_css}">${brick}</span></td>
    <td class='amount'>${amount}</td>
    <td class='tara'>${tara}</td>
    <td class='info'>${i}</td>
    <td class='view'>
        <a href='#'>
            <img alt='edit'>
        </a>
        <span data-dojo-attach-point="deleteNode">
            <img alt='del'>
            </span>
    </td>
    <td><option data-dojo-attach-point="inputNode" value='${value}'></option></td>
</tr>